h3 {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 1px;
}

body {
    font-family: "Noto Sans", "DejaVu Serif", "Verajja Serif";
}

p {
    line-height: 150%;
    margin: 0px;
    vertical-align: middle;
    text-align: left;
}

p.heading {
    margin: 3px 0px 7px 0px;
}

p.heading b {
    font-weight: 700;
    color: #00A4CC;
}

p.sutta {
    color: #00A4CC;
    font-style: italic;
    padding: 0px 0px 7px 0px;
}

p.family {
    margin: 0px 0px 7px 0px;
}

p.family b {
    color: #00A4CC;
    font-weight: 700;
}

p.family b2 {
    font-weight: 700;
}

table {
    margin: 0 0 5px 0;
}

table.table1 {
    border: 0px solid transparent;
    border-collapse: collapse;
    width: 100%;
}

table.table1 td, table.table1 th {
        border: 0px solid transparent;
        border-collapse: collapse;
        line-height: 150%;
        padding: 0px 5px 0px 0px;
        text-align: left;
        vertical-align: top;
}

table.table1 th {
    color: #00A4CC;
    font-weight: 700;
    /* white-space: nowrap; */
}

table.table1 th.cfpali {
    white-space: normal;
    min-width: 34ch;
}

table.table1 td.cfpos {
    font-weight: 700;
    white-space: normal;
}

table.table1 td.cfeng {
    white-space: normal;
}

table.table1 b {
    font-weight: 700;
}

table.dataframe {
    width: 100%;
    padding: 0 0 5px 0px;
}

table.dataframe td,
table.dataframe th {
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 150%;
    text-align: center;
    padding:2px 3px;
    vertical-align: middle;
}

table.dataframe th {
    border: 1px solid #00A4CC;
    color: #00A4CC;
    font-weight: 700;
    /* white-space: nowrap; */
}

span.g1 {
    color: gray
}

span.g2, span.gray {
    color: gray
}

span.g3 {
    color: gray
}


input {
    display: none;
}

div.content {
    border: 2px solid #00A4CC;
    border-radius: 5px;
    line-height: 150%;
    overflow: auto;
    padding: 3px 5px;
    text-align: left;
}

a.button {
    text-decoration: none;
    background-color: #65DBFF;
    border-radius: 7px;
    box-shadow: 0 4px 4px -2px #888888;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 80%;
    font-weight: 400;
    margin: 1px 1px 2px 0px;
    padding: 2px 5px;
    user-select: none;
}

a.button.close {
    float: right;
    margin: 10px;
}

a.button:hover {
    background-color: #00A4CC;
    color: white;
    user-select: none;
}

.link {
    border-radius: 5px;
    color: #00A4CC;
    font-weight: 700;
}

.hidden {
    display: none;
}

a.button.active {
    background-color: #00A4CC;
    color: white;
    user-select: none;
}

span.colour {
    color: #00A4CC;
    font-weight: 700;
}

table.freq thead th {
    text-align: center;
}

table.freq tbody th {
    text-align: left;
}

table.freq th,
td {
    vertical-align: middle;
}

table.freq td {
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    text-align: center;
    width: 12%;
}

td.void {
    border: 0px solid transparent;
}

td.gr0 {
    border: 1px solid #dbdbff;
}

td.gr1 {
    background-color: #ddecfa;
    border-color: #ddecfa;
    color: #000;
}

td.gr2 {
    background-color: #d2e2ff;
    border-color: #d2e2ff;
    color: #000;
}

td.gr3 {
    background-color: #b0dbff;
    border-color: #b0dbff;
    color: #000;
}

td.gr4 {
    background-color: #9dc3fd;
    border-color: #9dc3fd;
    color: #000;
}

td.gr5 {
    background-color: #668efc;
    border-color: #668efc;
    color: #000;
}

td.gr6 {
    background-color: #4668ff;
    border-color: #4668ff;
    color: #fff;
}

td.gr7 {
    background-color: #314ffc;
    border-color: #314ffc;
    color: #fff;
}

td.gr8 {
    background-color: #003cff;
    border-color: #003cff;
    color: #fff;
}

td.gr9 {
    background-color: #0000bb;
    border-color: #0000bb;
    color: #fff;
}

td.gr10 {
    background-color: #00008f;
    border-color: #00008f;
    color: #fff;
}

tr.line th {
    border-top: 1px solid #00A4CC;
}