h3 {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 1px;
}

body {
    font-family: "DejaVu Serif", "Noto Sans", "Verajja Serif";
}

p {
    line-height: 150%;
    margin: 0px;
    vertical-align: middle;
}
b.epd {
    color:#8B008B;
    font-weight: 700;
}

div.epd {
    border: 2px solid #8B008B;
    border-radius: 5px;
    line-height: 150%;
    overflow: auto;
    padding: 3px 5px;
    text-align: left;
}