h3 {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 1px;
}

body {
    font-family: "DejaVu Serif", "Noto Sans", "Verajja Serif", "serif";
}

div.root_content {
    border: 2px solid #AB3C00;
    border-radius: 5px;
    line-height: 150%;
    padding: 1px 5px 3px 5px;
    overflow: auto;
    text-align: left;
}

p {
    line-height: 150%;
    margin: 3px 5px;
    vertical-align: middle;
    text-align: left;
}

p.heading {
    margin: 3px 5px;
    padding: 2px 4px;
}

.underlined {
    border-bottom: 1px solid #00A4CC;
}

p.heading b {
    font-weight: 700;
}

p.footer {
    padding: 5px 0px;
    border-top: 1px solid #00A4CC;
}

table {
    margin: 3px 5px;
}

table.root_info {
    border: 0px solid transparent;
    border-collapse: collapse;
}

table.root_info td,
table.root_info th {
    text-align: left;
    vertical-align: top;
}

table.root_info th {
    color: #AB3C00;
    font-weight: 700;
    white-space: nowrap;
}

table.root_info b {
    font-weight: 700;
}

span.gray {
    color: gray;
    font-style: italic;
}

table.family td,
table.family th {
    text-align: left;
    vertical-align: top;
}

table.family th {
    color: #AB3C00;
    font-weight: 700;
    white-space: nowrap;
}

table.family b {
    font-weight: 700;
}

input {
    display: none;
}

.hidden {
    display: none;
}

a.button {
    text-decoration: none;
    background-color: #F95700;
    border-radius: 7px;
    box-shadow: 0 4px 4px -2px #888888;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 85%;
    font-weight: 400;
    margin: 2px 0px 5px 0px;
    padding: 3px 5px;
    user-select: none;
}

a.button.close {
    float: right;
    margin: 10px;
}

a.button.active {
    background-color: #AB3C00;
    color: black;
    user-select: none;
}

a.button:hover {
    background-color: #AB3C00;
    color: white;
    user-select: none;
}


.link {
    color: #AB3C00;
    font-weight: 700;
}

table.root_matrix {
    width: 100%;
}

table.root_matrix th,
table.root_matrix td {
    border-radius: 5px;
    line-height: 150%;
    vertical-align: top;
    padding: 2px 3px;
    overflow: auto;
}

table.root_matrix th {
    border: 1px solid #AB3C00;
    color: #F95700;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

table.root_matrix td {
    border: 1px solid gray;
    text-align: left;
}

table.root_matrix td b {
    color: #AB3C00;
    font-weight: 700;
    white-space: nowrap;
}

span.colour {
    color: #AB3C00;
    font-weight: 700;
}