__pycache__/
.pytest_cache
.coverage
.vscode/

.venv

*.db
*.log
*.sqlite3
*~lock.*
*xxx*
csvs/*
csvs/commentary.csv
csvs/dpd-full.csv
csvs/vocab.csv
definitions/definitions.csv
do_output.zip
dpd.db-journal
exporter/output/dpd.sql
exporter/share/
frequency/output/*
grammar_dict/output/html
gui/icons/*
gui/stash/gui_state
gui/stash/stash
inflections/tests/inflection_pattern_dict
log.txt
output.zip
resources/Tipitaka-Pali-Projector/*
sandhi.zip
sandhi/!old sandhi-splitter.py
sandhi/assets/*
sandhi/output_do/*
sandhi/output/*
share/*
tmp/
grammar_dict/output/grammar_dict_pickle
sandhi/time_delta.ods
