__pycache__/
.coverage
.pytest_cache
.venv
.vscode/
*.db
*.log
*.sqlite3
*~lock.*
csvs/
definitions/
dpd.db-journal
ebook/output/
exporter/share/
exporter/tpr
frequency/output/
grammar_dict/output/
gui/icons/
gui/stash/
sandhi.zip
sandhi/assets/
sandhi/output_do/
sandhi/output/
share/
tbw/output/
temp/
tmp/
tests/word_family_exceptions
