[submodule "resources/tpr_downloads"]
	path = resources/tpr_downloads
	url = https://github.com/bksubhuti/tpr_downloads

[submodule "resources/bw2"]
	path = resources/bw2
	url = https://github.com/thebuddhaswords/BW2.git
	
[submodule "resources/sc-data"]
	path = resources/sc-data
	url = https://github.com/digitalpalidictionary/sc-data.git

[submodule "resources/deconstructor_output"]
	path = resources/deconstructor_output
	url = https://github.com/digitalpalidictionary/deconstructor_output.git

[submodule "resources/dpd_submodules"]
	path = resources/dpd_submodules
	url = https://github.com/digitalpalidictionary/dpd_submodules

[submodule "resources/fdg_dpd"]
	path = resources/fdg_dpd
	url = https://github.com/o28o/dictPlugin.git
	
[submodule "resources/dpd_audio"]
	path = resources/dpd_audio
	url = https://github.com/digitalpalidictionary/dpd-audio.git
[submodule "resources/tipitaka_translation_db"]
	path = resources/tipitaka_translation_db
	url = https://github.com/digitalpalidictionary/tipitaka-translation-db
