site_name: Digital Pāḷi Dictionary Docs
docs_dir: "docs"
repo_url: https://github.com/digitalpalidictionary/dpd-db
site_dir: "docs_site"

nav:
  - Home: index.md
  - Features:
    - "features/index.md"
    - Features: "features/features.md"
    - Sutta Info: "features/sutta_info.md"
    - Roots Dict: "features/rootdict.md"
    - Word Frequency: "features/frequency.md"
    - Deconstructor: "features/deconstructor.md"
    - Grammar Dictionary: "features/grammardict.md"
    - Variant Readings: "features/variants.md"
  - Installation Guide:
    - "install/index.md"
    - Windows: "install/win.md"
    - Android: "install/android_dicttango.md"
    - Mac: "install/mac.md"
    - iOS: "install/ios.md"
    - Linux: "install/linux.md"
    - Kindle: "install/kindle.md"
    - Kobo: "install/kobo.md"
    - ChromeBook: "install/chromebook.md"
    - Update: "install/update.md"
  - GoldenDict Features:
    - "goldendict/index.md"
    - Setup the Hotkey: "goldendict/hotkey.md"
    - Setup the Scan Popup: "goldendict/scan_popup.md"
    - Setup Advanced Features: "goldendict/advanced.md"
  - Webapp:
    - "webapp/index.md"
    - Search: "webapp/search.md"
    - Summary: "webapp/summary.md"
    - Dictionary display: "webapp/dictionary_display.md"
    - Settings: "webapp/settings.md"
    - CST Bold Definitions: "webapp/cst_bold_def.md"
    - API in GoldenDict: "webapp/api_goldendict.md"
    - API in DictTango: "webapp/api_dicttango.md"
  - Software Integrations:
    - integrations/index.md
    - Dhamma.gift website: "integrations/dhamma_gift.md"
    - Simsapa Dhamma Reader: "integrations/simsapa.md"
    - Sutta Central Website: "integrations/sutta_central.md"
    - The Buddha's Words: "integrations/tbw.md"
    - Tipitaka Pali Reader: "integrations/tpr.md"
    - Tipitakapali.org: "integrations/tipitakapali.md"
  - Feedback:
    - "feedback/index.md"
    - Correct a Mistake: "feedback/correct_mistake.md"
    - Add a Missing Word: "feedback/add_missing_word.md"
    - Report a Bug: "feedback/bug_report.md"
  - Contributing:
    - "contributing/index.md"
    - Pāḷi: "contributing/pali.md"
    - Code: "contributing/code.md"
  - Other Dictionaries: other_dicts.md
  - What Users Say: users_say.md
  - Abbreviations: "abbreviations.md"
  - Bibliography: "bibliography.md"
  - Thanks: "thanks.md"
  - Contact: "contact.md"
  - License: "license.md"  
  - Changelog: "changelog.md"
  - Pāḷi Notes: "pali_notes/index.md"
  - Developer Docs:
    - "technical/index.md"
    - Build the DB from Scratch: "technical/build_db.md"
    - Use the DB in a Project: "technical/use_db.md"
    - Project Folder Structure: "technical/project_folder_structure.md" 
    - DpdHeadwords Table: "technical/dpd_headwords_table.md"
    - Tipiṭaka Source Files: "technical/tipitaka_source_files.md"
    # - Style Guide for DPD Entries: "technical/style_guide_for_dpd_entries.md"

theme:
  name: material
  logo: assets/dpd-logo.svg
  features:
    - content.code.copy
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.path
    # - navigation.expand
    # - navigation.sections
    # - navigation.tabs
    # - navigation.tabs_sticky
    # - toc.integrate

  palette: 
    # light mode
    - scheme: default
      primary: custom
      accent: custom
      toggle: 
        icon: material/lightbulb
        name: Switch to dark mode

    # dark mode
    - scheme: slate
      primary: custom
      accent: custom
      toggle: 
        icon: material/lightbulb-outline
        name: Switch to light mode

  font: 
    text: Inter

extra_css:
  - stylesheets/dpd-variables.css
  - stylesheets/extra.css

extra:
  alternate:
    - name: English
      link: https://digitalpalidictionary.github.io/
      lang: en
    - name: Русский
      link: https://devamitta.github.io/dpd.rus/
      lang: ru
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/digitalpalidictionary/dpd-db

markdown_extensions:
  # allows adding {target="_blank"} after links
  - attr_list 

  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences


plugins:
  - search
  - blog:
      blog_dir: pali_notes
      blog_toc: true
      post_date_format: full
      post_excerpt: optional
      post_excerpt_separator: <!-- read more -->
      draft: false
      draft_on_serve: true
  - tags
