[tool.poetry]
name = "dpd-db"
version = "v0.2.20250113"
description = ""
authors = ["Your Name <you@example.com>"]
readme = "README.md"
packages = [{include = "db"}]

[tool.poetry.dependencies]
python = ">=3.11,<3.12"

SQLAlchemy = "~2.0.22"
SQLAlchemy-Utils = "~0.41.1"
tqdm = "^4.64.1"
rich = "^13.3.1"
pandas = "^1.5.3"
openpyxl = "^3.1.0"
aksharamukha = "^2.1.2"
python-idzip = "^0.3.9"
mako = "^1.2.4"
markdown = "^3.4.1"
minify-html = "^0.10.8"
pip = "^23.0.1"
pyspellchecker = "^0.7.1"
beautifulsoup4 = "^4.11.2"
nltk = "^3.8.1"
pyperclip = "^1.8.2"
css-html-js-minify = "^2.5.5"
html2text = "^2020.1.16"
openai = "^1.54.4"
google-cloud-translate = "^3.11.3"
python-docx = "^0.8.11"
timeout-decorator = "^0.5.0"
psutil = "^5.9.6"
anki = "^23.10.1"
jinja2 = "^3.1.2"
flask = "^3.0.0"
flask-sqlalchemy = "^3.1.1"
tomlkit = "^0.12.3"
pyglossary = "^4.6.1"
fastapi = "^0.110.2"
uvicorn = "^0.30.1"
unidecode = "^1.3.8"
weasyprint = "^62.3"
pandoc = "^2.3"
gitpython = "^3.1.43"
numpy = "1.23.2"
dbfread = "^2.0.7"
dbf = "^0.99.9"
typst = "0.12.0"
httpcore = "^1.0.7"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
flake8 = "^6.0.0"
bandit = "^1.7.5"
pylint = "^2.17.0"
pylama = "^8.4.1"
icecream = "^2.1.3"
pytest = "^7.4.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
pythonVersion = "3.11"
typeCheckingMode = "basic"

[tool.ruff]
ignore = ["E401", "E501", "E712"]
target-version = "py311"
