<h3>Сокращение: {{d.headword}}</h3>
<div class="help">
    <table class="help">
        <tr>
            <th>
                Сокращение
            </th>
            <td>
                <b>{{d.headword|safe}}</b>
                {% if d.ru_abbrev %}
                    {% if d.ru_abbrev != d.headword %}
                        - <b>{{d.ru_abbrev|safe}}</b>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% if d.ru_meaning: %}
        <tr>
            <th>
                Значение
            </th>
            <td>
                {{d.ru_meaning|safe}}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>
                Meaning
            </th>
            <td>
                {{d.meaning|safe}}
            </td>
        </tr>
        {% if d.pali: %}
        <tr>
            <th>
                Pāḷi
            </th>
            <td>
                {{d.pali|safe}}
            </td>
        </tr>
        {% endif %}
        
        {% if d.example: %}
        <tr>
            <th>
                Пример
            </th>
            <td>
                {{d.example|safe}}
            </td>
        </tr>
        {% endif %}

        {% if d.explanation: %}
        <tr>
            <th>
                Инфо
            </th>
            <td>
                {{d.explanation|safe}}
            </td>
        </tr>
        {% endif %}
    </table>
</div>