<h3>отличные формы: {{ d.headword|safe }}</h3>
<div class="secondary">
    <table class="variants">
        <tr>
            <th>источник</th>
            <th>имя файла</th>
            <th>контекст</th>
            <th>отличная форма</th>
        </tr>

        {% set old_corpus = None %}
        {% for corpus, data2 in d.variants.items() %}

        {% if old_corpus != corpus %}
        <tr>
            <td colspan="4">
                <hr class="secondary">
            </td>
        </tr>
        {% endif %}

        {% for book, data3 in data2.items() %}
        {% for data4 in data3 %}
        <tr>
            <td>{{ corpus }}</td>
            <td>{{ book }}</td>
            <td>{{ data4[0] }}</td>
            <td>{{ data4[1] }}</td>
        </tr>
        {% endfor %}
        {% endfor %}

        {% set old_corpus = corpus %}
        {% endfor %}
    </table>
    <p class="secondary_footer">
        Для подробностей, пожалуйста, <a class='link' href='https://digitalpalidictionary.github.io/features/variants/' target='_blank'>читайте документацию</a>.
    </p>
</div>