<?xml version="1.0" encoding="utf-8"?>
<package version="3.0" unique-identifier="BookId" xml:lang="ru" xmlns="http://www.idpf.org/2007/opf">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
    <dc:language>ru</dc:language>
	<x-metadata>
		<DictionaryInLanguage>pi</DictionaryInLanguage>
		<DictionaryOutLanguage>ru</DictionaryOutLanguage>
		<DefaultLookupIndex>Пали</DefaultLookupIndex>
	</x-metadata>
    <dc:title id="title1">Цифровой Словарь Пали</dc:title>
    <meta refines="#title1" property="file-as">Цифровой Словарь Пали</meta>
    <meta refines="#title1" property="title-type">main</meta>
    <dc:creator id="create1">Бодхираса Бхиккху</dc:creator>
    <meta refines="#create1" property="file-as">Дост. Бодхираса</meta>
    <meta refines="#create1" property="role" scheme="marc:relators">aut</meta>
    <dc:rights>CC BY-NC-SA 4.0</dc:rights>
    <meta property="dcterms:modified">${date_time_zulu}</meta>
    <dc:identifier id="BookId">urn:uuid:c2f8321b-cb69-43a4-a2e7-fc7f15646099</dc:identifier>
    <meta name="Sigil version" content="1.9.30"/>
    <meta name="cover" content="cover.jpg"/>
    <meta property="schema:accessibilitySummary">This publication conforms to WCAG 2.0 AA.</meta>
    <meta property="schema:accessMode">textual</meta>
    <meta property="schema:accessMode">visual</meta>
    <meta property="schema:accessModeSufficient">textual</meta>
    <meta property="schema:accessibilityFeature">structuralNavigation</meta>
    <meta property="schema:accessibilityHazard">none</meta>
  </metadata>
  <manifest>
    <item id="abbreviations.xhtml" href="Text/abbreviations.xhtml" media-type="application/xhtml+xml"/>
    <item id="cover.jpg" href="Images/cover.jpg" media-type="image/jpeg" properties="cover-image"/>
    <item id="cover.xhtml" href="Text/cover.xhtml" media-type="application/xhtml+xml" properties="svg"/>
    <item id="dpd_kindle.css" href="Styles/dpd_kindle.css" media-type="text/css"/>
    <item id="dpdlogo.png" href="Images/dpdlogo.png" media-type="image/png"/>
    <item id="imprint.xhtml" href="Text/imprint.xhtml" media-type="application/xhtml+xml"/>
    <item id="nav.xhtml" href="Text/nav.xhtml" media-type="application/xhtml+xml" properties="nav"/>
    <item id="sgc-nav.css" href="Styles/sgc-nav.css" media-type="text/css"/>
    <item id="sgc-toc.css" href="Styles/sgc-toc.css" media-type="text/css"/>
    <item id="titlepage.xhtml" href="Text/titlepage.xhtml" media-type="application/xhtml+xml"/>
    <item id="x0_a.xhtml" href="Text/0_a.xhtml" media-type="application/xhtml+xml"/>
    <item id="x1_a.xhtml" href="Text/1_a.xhtml" media-type="application/xhtml+xml"/>
    <item id="x2_i.xhtml" href="Text/2_i.xhtml" media-type="application/xhtml+xml"/>
    <item id="x3_i.xhtml" href="Text/3_i.xhtml" media-type="application/xhtml+xml"/>
    <item id="x4_u.xhtml" href="Text/4_u.xhtml" media-type="application/xhtml+xml"/>
    <item id="x5_u.xhtml" href="Text/5_u.xhtml" media-type="application/xhtml+xml"/>
    <item id="x6_e.xhtml" href="Text/6_e.xhtml" media-type="application/xhtml+xml"/>
    <item id="x7_o.xhtml" href="Text/7_o.xhtml" media-type="application/xhtml+xml"/>
    <item id="x8_k.xhtml" href="Text/8_k.xhtml" media-type="application/xhtml+xml"/>
    <item id="x9_kh.xhtml" href="Text/9_kh.xhtml" media-type="application/xhtml+xml"/>
    <item id="x10_g.xhtml" href="Text/10_g.xhtml" media-type="application/xhtml+xml"/>
    <item id="x11_gh.xhtml" href="Text/11_gh.xhtml" media-type="application/xhtml+xml"/>
    <item id="x12_n.xhtml" href="Text/12_n.xhtml" media-type="application/xhtml+xml"/>
    <item id="x13_c.xhtml" href="Text/13_c.xhtml" media-type="application/xhtml+xml"/>
    <item id="x14_ch.xhtml" href="Text/14_ch.xhtml" media-type="application/xhtml+xml"/>
    <item id="x15_j.xhtml" href="Text/15_j.xhtml" media-type="application/xhtml+xml"/>
    <item id="x16_jh.xhtml" href="Text/16_jh.xhtml" media-type="application/xhtml+xml"/>
    <item id="x17_n.xhtml" href="Text/17_n.xhtml" media-type="application/xhtml+xml"/>
    <item id="x18_t.xhtml" href="Text/18_t.xhtml" media-type="application/xhtml+xml"/>
    <item id="x19_th.xhtml" href="Text/19_th.xhtml" media-type="application/xhtml+xml"/>
    <item id="x20_d.xhtml" href="Text/20_d.xhtml" media-type="application/xhtml+xml"/>
    <item id="x21_dh.xhtml" href="Text/21_dh.xhtml" media-type="application/xhtml+xml"/>
    <item id="x22_n.xhtml" href="Text/22_n.xhtml" media-type="application/xhtml+xml"/>
    <item id="x23_t.xhtml" href="Text/23_t.xhtml" media-type="application/xhtml+xml"/>
    <item id="x24_th.xhtml" href="Text/24_th.xhtml" media-type="application/xhtml+xml"/>
    <item id="x25_d.xhtml" href="Text/25_d.xhtml" media-type="application/xhtml+xml"/>
    <item id="x26_dh.xhtml" href="Text/26_dh.xhtml" media-type="application/xhtml+xml"/>
    <item id="x27_n.xhtml" href="Text/27_n.xhtml" media-type="application/xhtml+xml"/>
    <item id="x28_p.xhtml" href="Text/28_p.xhtml" media-type="application/xhtml+xml"/>
    <item id="x29_ph.xhtml" href="Text/29_ph.xhtml" media-type="application/xhtml+xml"/>
    <item id="x30_b.xhtml" href="Text/30_b.xhtml" media-type="application/xhtml+xml"/>
    <item id="x31_bh.xhtml" href="Text/31_bh.xhtml" media-type="application/xhtml+xml"/>
    <item id="x32_m.xhtml" href="Text/32_m.xhtml" media-type="application/xhtml+xml"/>
    <item id="x33_y.xhtml" href="Text/33_y.xhtml" media-type="application/xhtml+xml"/>
    <item id="x34_r.xhtml" href="Text/34_r.xhtml" media-type="application/xhtml+xml"/>
    <item id="x35_l.xhtml" href="Text/35_l.xhtml" media-type="application/xhtml+xml"/>
    <item id="x36_s.xhtml" href="Text/36_s.xhtml" media-type="application/xhtml+xml"/>
    <item id="x37_v.xhtml" href="Text/37_v.xhtml" media-type="application/xhtml+xml"/>
    <item id="x38_h.xhtml" href="Text/38_h.xhtml" media-type="application/xhtml+xml"/>
    <item id="x39_l.xhtml" href="Text/39_l.xhtml" media-type="application/xhtml+xml"/>
    <item id="x40_m.xhtml" href="Text/40_m.xhtml" media-type="application/xhtml+xml"/>
  </manifest>
  <spine>
    <itemref idref="cover.xhtml"/>
    <itemref idref="titlepage.xhtml"/>
    <itemref idref="imprint.xhtml"/>
    <itemref idref="abbreviations.xhtml"/>
    <itemref idref="x0_a.xhtml"/>
    <itemref idref="x1_a.xhtml"/>
    <itemref idref="x2_i.xhtml"/>
    <itemref idref="x3_i.xhtml"/>
    <itemref idref="x4_u.xhtml"/>
    <itemref idref="x5_u.xhtml"/>
    <itemref idref="x6_e.xhtml"/>
    <itemref idref="x7_o.xhtml"/>
    <itemref idref="x8_k.xhtml"/>
    <itemref idref="x9_kh.xhtml"/>
    <itemref idref="x10_g.xhtml"/>
    <itemref idref="x11_gh.xhtml"/>
    <itemref idref="x12_n.xhtml"/>
    <itemref idref="x13_c.xhtml"/>
    <itemref idref="x14_ch.xhtml"/>
    <itemref idref="x15_j.xhtml"/>
    <itemref idref="x16_jh.xhtml"/>
    <itemref idref="x17_n.xhtml"/>
    <itemref idref="x18_t.xhtml"/>
    <itemref idref="x19_th.xhtml"/>
    <itemref idref="x20_d.xhtml"/>
    <itemref idref="x21_dh.xhtml"/>
    <itemref idref="x22_n.xhtml"/>
    <itemref idref="x23_t.xhtml"/>
    <itemref idref="x24_th.xhtml"/>
    <itemref idref="x25_d.xhtml"/>
    <itemref idref="x26_dh.xhtml"/>
    <itemref idref="x27_n.xhtml"/>
    <itemref idref="x28_p.xhtml"/>
    <itemref idref="x29_ph.xhtml"/>
    <itemref idref="x30_b.xhtml"/>
    <itemref idref="x31_bh.xhtml"/>
    <itemref idref="x32_m.xhtml"/>
    <itemref idref="x33_y.xhtml"/>
    <itemref idref="x34_r.xhtml"/>
    <itemref idref="x35_l.xhtml"/>
    <itemref idref="x36_s.xhtml"/>
    <itemref idref="x37_v.xhtml"/>
    <itemref idref="x38_h.xhtml"/>
    <itemref idref="x39_l.xhtml"/>
    <itemref idref="x40_m.xhtml"/>
    <itemref idref="nav.xhtml" linear="no"/>
  </spine>
</package>
