<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="ru" xml:lang="ru">
<head>
  <title>Цифровой Словарь Пали</title>
  <link href="../Styles/dpd_kindle.css" type="text/css" rel="stylesheet"/>
</head>

<body>
  <section epub:type="titlepage">

    <h2 class="title-page sigil_not_in_toc">краткая версия</h2>

    <h1 class="title-page">Цифровой Словарь Пали</h1>

    <h2 class="title-page sigil_not_in_toc">для Kindle</h2>

    <figure class="image-title-page">
        <img alt="Это логотип Цифрового Словаря Пали" src="../Images/dpdlogo.png" />
    </figure>

    <address class="author"><h2 class="title-page sigil_not_in_toc">Бодхираса Бхиккху, перевод Дэвамитта Бхиккху</h2></address>

    <p class="body-center">обновлен <b>${date}</b> в <b>${time}</b></p>
  </section>
</body>
</html>