h3 {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 1px;
}

body {
    font-family: "Noto Sans", "DejaVu Serif", "Verajja Serif";
}

div.content_ru {
    border: 2px solid #358109;
    border-radius: 7px;
    line-height: 150%;
    margin: 0px 0px;
    overflow: auto;
    padding: 3px 7px;
    text-align: left;
}

p {
    line-height: 150%;
    margin: 0px 0px;
    vertical-align: middle;
    text-align: left;
}

p.heading {
    margin: 0px 0px;
    padding: 2px 0px;
}

.underlined_ru {
    border-bottom: 1px solid #358109;
    margin-bottom: 5px;
}

.overlined_ru {
    border-top: 1px solid #358109;
    margin-top: 5px;
}

p.heading b {
    font-weight: 700;
}

p.footer_ru {
    border-top: 1px solid #358109;
    font-size: 0.8em;
    padding: 5px 0px;
}

table {
    margin: 3px 0px;
}

table.grammar_ru {
    border: none;
}

table.grammar_ru td,
table.grammar_ru th {
    text-align: left;
    vertical-align: top;
    padding: 0px 0px;
}

table.grammar_ru th {
    color: #358109;
    font-weight: 700;
    white-space: nowrap;
    padding: 0px 5px 2px 0px
}

table.grammar_ru b {
    font-weight: 700;
}


p.sutta_ru {
    color: #358109;
    font-style: italic;
    padding: 0px 0px 7px 0px;
}

table.inflection {
    width: 100%;
    padding: 0 0 5px 0px;
}

table.inflection td,
table.inflection th {
    border: 1px solid gray;
    border-radius: 7px;
    line-height: 150%;
    padding: 5px 5px;
    text-align: center;
    vertical-align: middle;
}

table.inflection th {
    border: 1px solid #00A4CC;
    color: #00A4CC;
    font-weight: 700;
    white-space: nowrap;
}

span.gray {
    color: gray;
}

a.jump_ru {
    color: #358109;
    text-decoration: none;
    font-weight: bold;
}

table.family_ru td,
table.family_ru th {
    text-align: left;
    vertical-align: top;
}

table.family_ru th {
    color: #358109;
    font-weight: 400;
    white-space: nowrap;
}

table.family_ru td {
    padding-right: 7px;
}

table.family_ru b {
    font-weight: 400;
}

div.button-box {
    font-size: 0px;
    margin: 2px 0px 3px 0px;

}

a.button_ru {
    background-color: #9ff16f;
    border-radius: 7px;
    box-shadow: 0px 4px 4px -2px #358109;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    margin: 0px 1px 2px 0px;
    padding: 3px 5px;
    text-decoration: none;
    user-select: none;
}



a.button_ru.close {
    float: right;
    margin: 10px;
}

a.button_ru.active {
    background-color: #358109;
    color: black;
    user-select: none;
}

a.button_ru:hover {
    background-color: #358109;
    color: white;
    user-select: none;
}

.link_ru {
    color: #358109;
    font-weight: 700;
}

.hidden {
    display: none;
}

table.freq th,
table.freq td {
    vertical-align: middle;
    white-space: nowrap;
}

table.freq thead th {
    text-align: center;
}

table.freq tbody th {
    border: 1px solid #00A4CC;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    width: 12px;
    white-space: nowrap;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: 30px;
    /* inline-size: fit-content;
    transform: rotate(-90deg); */
}

table.freq td {
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    text-align: center;
    width: 30px;
    min-width: 30px;
    white-space: nowrap;
}

td.void {
    border: 0px solid transparent;
}

td.gap {
    border: 0px solid transparent;
    width: 10px;
}

td.gr0 {
    border: 1px solid #dbdbff;
    color: transparent;
}

td.gr1 {
    background-color: #ddecfa;
    border-color: #ddecfa;
    color: #000;
}

td.gr2 {
    background-color: #d2e2ff;
    border-color: #d2e2ff;
    color: #000;
}

td.gr3 {
    background-color: #b0dbff;
    border-color: #b0dbff;
    color: #000;
}

td.gr4 {
    background-color: #9dc3fd;
    border-color: #9dc3fd;
    color: #000;
}

td.gr5 {
    background-color: #668efc;
    border-color: #668efc;
    color: #000;
}

td.gr6 {
    background-color: #4668ff;
    border-color: #4668ff;
    color: #fff;
}

td.gr7 {
    background-color: #314ffc;
    border-color: #314ffc;
    color: #fff;
}

td.gr8 {
    background-color: #003cff;
    border-color: #003cff;
    color: #fff;
}

td.gr9 {
    background-color: #0000bb;
    border-color: #0000bb;
    color: #fff;
}

td.gr10 {
    background-color: #00008f;
    border-color: #00008f;
    color: #fff;
}

/* variant */

div.variant_ru {
    border: 2px solid #610021;
    border-radius: 7px;
    line-height: 150%;
    margin: 0px 0px;
    overflow: auto;
    padding: 3px 7px;
    text-align: left;
}

p.variant_ru {
    line-height: 150%;
    margin: 2px 0px;
    vertical-align: middle;
    text-align: left;
}

/* help */


div.help_ru {
    border: 2px solid #00899b;
    border-radius: 7px;
    line-height: 150%;
    margin: 0px 0px;
    overflow: auto;
    padding: 3px 5px;
    text-align: left;
}


table.help_ru {
    border: none;
    width: 100%;
}

table.help_ru td,
table.help_ru th {
    line-height: 150%;
    padding: 0px 5px 0px 0px;
    text-align: left;
    vertical-align: top;
}

table.help_ru th {
    color: #00899b;
    font-weight: 700;
    width: 10%;
}

table.help_ru td {
    width: 90%;
}

table.help_ru b {
    font-weight: 700;
}

/* roots */

div.root_content_ru {
    border: 2px solid #ab7d00;
    border-radius: 7px;
    line-height: 150%;
    margin: 0px 0px;
    overflow: auto;
    padding: 3px 7px;
    text-align: left;
}



.root_underlined_ru {
    border-bottom: 1px solid #ab7d00;
    margin-bottom: 5px;
}

.root_overlined_ru {
    border-top: 1px solid #ab7d00;
    margin-top: 5px;
}

p.root_heading_ru b {
    font-weight: 700;
    color: inherit;
}

p.root_footer_ru {
    border-top: 1px solid #ab7d00;
    font-size: 0.8em;
    padding: 5px 0px;
}


table.root_info_ru {
    border: none;
}

table.root_info_ru td,
table.root_info_ru th {
    text-align: left;
    vertical-align: top;
    padding: 0px 0px;
}

table.root_info_ru th {
    color: #ab7d00;
    font-weight: 700;
    white-space: normal;
    padding: 0px 5px 2px 0px 
}

table.root_info_ru b {
    font-weight: 700;
}

table.root_family_ru td,
table.root_family_ru th {
    text-align: left;
    vertical-align: top;
}

table.root_family_ru th {
    color: #ab7d00;
    font-weight: 700;
    white-space: nowrap;
}

table.root_family_ru b {
    font-weight: 700;
}

div.root_button_box {
    font-size: 0px;
    margin: 2px 0px 3px 0px;
}

a.root_button_ru {
    background-color: #eeae00;
    border-radius: 7px;
    box-shadow: 0 4px 4px -2px #888888;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    margin: 0px 1px 2px 0px;
    padding: 3px 5px;
    text-decoration: none;
    user-select: none;
}

a.root_button_ru.close {
    float: right;
    margin: 10px;
}

a.root_button_ru.active {
    background-color: #ab7d00;
    color: black;
    user-select: none;
}

a.root_button_ru:hover {
    background-color: #ab7d00;
    color: white;
    user-select: none;
}

.root_link_ru {
    color: #ab7d00;
    font-weight: 700;
}

table.root_matrix_ru {
    width: 100%;
}

table.root_matrix_ru th,
table.root_matrix_ru td {
    border-radius: 5px;
    line-height: 150%;
    vertical-align: top;
    padding: 5px 5px;
    overflow: auto;
}

table.root_matrix_ru th {
    border: 1px solid #ab7d00;
    color: #eeae00;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

table.root_matrix_ru td {
    border: 1px solid gray;
    text-align: left;
}

table.root_matrix_ru td b {
    color: #ab7d00;
    font-weight: 700;
    white-space: nowrap;
}

span.colour {
    color: #ab7d00;
    font-weight: 700;
}

/* rpd */

div.rpd {
    border: 2px solid #358109;
    border-radius: 7px;
    line-height: 150%;
    margin: 0px 0px;
    overflow: auto;
    padding: 3px 7px;
    text-align: left;
}

.rpd p {
    line-height: 150%;
    margin: 0px;
    vertical-align: middle;
    text-align: left;
}

.rpd b {
    color:#358109;
    font-weight: 700;
}

sup {
    font-size: 0.6em;
    vertical-align: super;
}