#dict-panel-25445 {
  font-family: "Inter", "sans-serif";
  touch-action: manipulation;
}
#dict-panel-25445 h3 {
  font-size: 130%;
  margin-top: 10px;
  margin-bottom: 1px;
  color: var(--dpd-text);
}
#dict-panel-25445 h3.dpd {
  font-size: 130%;
  margin-top: 10px;
  margin-bottom: 1px;
  color: var(--dpd-text);
}
#dict-panel-25445 div.dpd {
  border: 2px solid var(--primary);
  border-radius: 7px;
  line-height: 150%;
  margin: 0px 0px;
  overflow: auto;
  padding: 3px 7px;
  text-align: left;
  touch-action: manipulation;
}
#dict-panel-25445 p {
  line-height: 150%;
  margin: 0px 0px;
  vertical-align: middle;
  text-align: left;
}
#dict-panel-25445 b {
  font-weight: 700;
}
#dict-panel-25445 .epd {
  color: var(--primary-text);
}
#dict-panel-25445 .epd:hover {
  color: var(--primary-alt);
  text-decoration: underline;
}
#dict-panel-25445 a {
  color: var(--primary);
}
#dict-panel-25445 p.heading {
  margin: 0px 0px;
  padding: 2px 0px;
}
#dict-panel-25445 .underlined {
  border-bottom: 1px solid var(--primary);
  margin-bottom: 5px;
}
#dict-panel-25445 .overlined {
  border-top: 1px solid var(--primary);
  margin-top: 5px;
}
#dict-panel-25445 p.heading b {
  font-weight: 700;
}
#dict-panel-25445 p.dpd-footer {
  border-top: 1px solid var(--primary);
  font-size: 80%;
  padding: 5px 0px;
  margin-top: 5px;
}
#dict-panel-25445 hr.dpd {
  background-color: var(--gray-transparent);
  width: 100%;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
  display: block;
}
#dict-panel-25445 /* tables */

/* sutta-info */

table {
  margin: 3px 0px;
}
#dict-panel-25445 table.sutta-info {
  border: none;
}
#dict-panel-25445 table.sutta-info td, #dict-panel-25445 table.sutta-info th {
  text-align: left;
  vertical-align: top;
  padding: 0px 0px;
}
#dict-panel-25445 table.sutta-info th {
  color: var(--primary-text);
  font-weight: 700;
  white-space: nowrap;
  padding: 0px 5px 2px 0px;
}
#dict-panel-25445 table.sutta-info th.heading {
  color: unset;
  font-weight: 700;
  white-space: nowrap;
  background-color: var(--gray-transparent);
}
#dict-panel-25445 /* grammar */

table.grammar {
  border: none;
}
#dict-panel-25445 table.grammar td, #dict-panel-25445 table.grammar th {
  text-align: left;
  vertical-align: top;
  padding: 0px 0px;
}
#dict-panel-25445 table.grammar th {
  color: var(--primary-text);
  font-weight: 700;
  white-space: nowrap;
  padding: 0px 5px 2px 0px;
}
#dict-panel-25445 table.grammar b {
  font-weight: 700;
}
#dict-panel-25445 /* sutta */

p.sutta {
  color: var(--primary-text);
  font-style: italic;
  padding: 0px 0px 3px 0px;
}
#dict-panel-25445 a.sutta_link {
  color: var(--primary-text);
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
}
#dict-panel-25445 a.sutta_link:hover {
  color: var(--primary-alt);
  text-decoration: underline;
}
#dict-panel-25445 /* inflection tables */

table.inflection {
  width: 100%;
  padding: 0 0 5px 0px;
  border-radius: 7px;
  border-collapse: separate;
  border: none;
  /* border-spacing: 0; */
}
#dict-panel-25445 table.inflection td, #dict-panel-25445 table.inflection th {
  border-collapse: separate;
  border-radius: 7px;
  /* border-spacing: 0; */
  border: 1px solid var(--gray);
  line-height: 150%;
  padding: 5px 5px;
  text-align: center;
  vertical-align: middle;
}
#dict-panel-25445 table.inflection th {
  border: 1px solid var(--primary);
  color: var(--primary-text);
  font-weight: 700;
  white-space: nowrap;
}
#dict-panel-25445 table.inflection tr:first-child th:first-child {
  border-top-left-radius: 7px;
}
#dict-panel-25445 table.inflection tr:first-child th:last-child {
  border-top-right-radius: 7px;
}
#dict-panel-25445 table.inflection tr:last-child td:first-child {
  border-bottom-left-radius: 7px;
}
#dict-panel-25445 table.inflection tr:last-child td:last-child {
  border-bottom-right-radius: 7px;
}
#dict-panel-25445 span.gray {
  color: var(--gray);
}
#dict-panel-25445 a.jump {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}
#dict-panel-25445 /* family tables */

table.family {
  border: none;
}
#dict-panel-25445 table.family td, #dict-panel-25445 table.family th {
  text-align: left;
  vertical-align: top;
}
#dict-panel-25445 table.family th {
  color: var(--primary-text);
  font-weight: 700;
  white-space: nowrap;
}
#dict-panel-25445 table.family td {
  padding-right: 7px;
}
#dict-panel-25445 table.family b {
  font-weight: 700;
}
#dict-panel-25445 /* buttons */

div.button-box {
  margin: 2px 0px 3px 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#dict-panel-25445 a.dpd-button {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 7px;
  color: var(--dark);
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  font-weight: 400;
  margin: 1px 1px 2px 1px;
  padding: 2px 5px;
  text-decoration: none;
  user-select: none;
  box-shadow: var(--shadow-default);
}
#dict-panel-25445 a.dpd-button.close {
  float: right;
  margin: 10px;
}
#dict-panel-25445 a.dpd-button.active {
  background-color: var(--primary-alt);
  border-color: var(--primary-alt);
  color: var(--light);
  user-select: none;
}
#dict-panel-25445 a.dpd-button:hover {
  box-shadow: var(--shadow-hover);
  border: 1px solid var(--primary-alt);
  background-color: var(--primary-alt);
  color: var(--light);
  user-select: none;
}
#dict-panel-25445 .dpd-link {
  color: var(--primary-text);
  font-weight: 700;
  text-decoration: none;
}
#dict-panel-25445 .dpd-link:hover {
  color: var(--primary-alt);
  text-decoration: underline;
}
#dict-panel-25445 .hidden {
  display: none;
}
#dict-panel-25445 /* freq tables */

table.freq {
  border-radius: 7px;
  border-collapse: separate;
  border: none;
  /*     width:100%; */
}
#dict-panel-25445 table.freq thead th {
  text-align: center;
}
#dict-panel-25445 table.freq tbody th {
  border: 1px solid var(--primary);
  border-radius: 7px;
  padding: 5px 10px;
  text-align: center;
  width: 1ex;

  /*     white-space: nowrap; */
  vertical-align: middle;
}
#dict-panel-25445 .vertical-text {
  text-orientation: upright;
  inline-size: fit-content;
  word-break: break-all;
  max-width: 1ex;
  white-space: break-spaces;
  align-items: center;
}
#dict-panel-25445 table.freq td {
  border-collapse: separate;
  border-radius: 7px;
  border: 1px solid var(--gray-transparent);
  font-size: 0.8em;
  min-width: 30px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 2.5em;
}
#dict-panel-25445 table.freq td.void {
  border: 0px solid transparent;
}
#dict-panel-25445 table.freq td.gap {
  border: 0px solid transparent;
  width: 10px;
}
#dict-panel-25445 table.freq td.gr0 {
  border: 1px solid var(--freq0);
  border-color: var(--gray-transparent);
  color: transparent;
}
#dict-panel-25445 .dark-mode table.freq td.gr0 {
  border: 1px solid var(--freq0);
  border-color: var(--gray-transparent);
  color: transparent;
}
#dict-panel-25445 table.freq td.gr1 {
  background-color: var(--freq1);
  border-color: var(--freq1);
  color: var(--dark);
}
#dict-panel-25445 table.freq td.gr2 {
  background-color: var(--freq2);
  border-color: var(--freq2);
  color: var(--dark);
}
#dict-panel-25445 table.freq td.gr3 {
  background-color: var(--freq3);
  border-color: var(--freq3);
  color: var(--dark);
}
#dict-panel-25445 table.freq td.gr4 {
  background-color: var(--freq4);
  border-color: var(--freq4);
  color: var(--dark);
}
#dict-panel-25445 table.freq td.gr5 {
  background-color: var(--freq5);
  border-color: var(--freq5);
  color: var(--dark);
}
#dict-panel-25445 table.freq td.gr6 {
  background-color: var(--freq6);
  border-color: var(--freq6);
  color: var(--light);
}
#dict-panel-25445 table.freq td.gr7 {
  background-color: var(--freq7);
  border-color: var(--freq7);
  color: var(--light);
}
#dict-panel-25445 table.freq td.gr8 {
  background-color: var(--freq8);
  border-color: var(--freq8);
  color: var(--light);
}
#dict-panel-25445 table.freq td.gr9 {
  background-color: var(--freq9);
  border-color: var(--freq9);
  color: var(--light);
}
#dict-panel-25445 table.freq td.gr10 {
  background-color: var(--freq10);
  border-color: var(--freq10);
  color: var(--light);
}
#dict-panel-25445 .dark-mode table.freq td {
  color: var(--light);
}
#dict-panel-25445 /* variant */

table.variants, #dict-panel-25445 table.grammar_dict {
  border-collapse: collapse;
  border: none;
  line-height: 150%;
  margin: 0px;
  max-width: 100%;
  overflow: auto;
  padding: 2px 0px;
  text-align: left;
  vertical-align: top;
  width: auto;
}
#dict-panel-25445 .variants th, #dict-panel-25445 .variants td, #dict-panel-25445 .grammar_dict th, #dict-panel-25445 .grammar_dict td {
  padding: 2px 10px 0px 0px;
  text-align: left;
  vertical-align: center;
}
#dict-panel-25445 .grammar_dict .col_empty {
  display: none;
}
#dict-panel-25445 .variants td:first-child, #dict-panel-25445 .variants td:nth-child(2) {
  white-space: nowrap;
}
#dict-panel-25445 /* help */

div.tertiary {
  border: 2px solid var(--secondary);
  border-radius: 7px;
  line-height: 150%;
  margin: 0px 0px;
  overflow: auto;
  padding: 3px 5px;
  text-align: left;
}
#dict-panel-25445 table.help {
  border: none;
  width: 100%;
}
#dict-panel-25445 table.help td, #dict-panel-25445 table.help th {
  line-height: 150%;
  padding: 0px 5px 0px 0px;
  text-align: left;
  vertical-align: top;
}
#dict-panel-25445 table.help th {
  color: var(--secondary);
  font-weight: 700;
  width: 10%;
}
#dict-panel-25445 table.help td {
  width: 90%;
}
#dict-panel-25445 table.help b {
  font-weight: 700;
}
#dict-panel-25445 /* roots */

table.root_info {
  border: none;
}
#dict-panel-25445 table.root_info td, #dict-panel-25445 table.root_info th {
  text-align: left;
  vertical-align: top;
  padding: 0px 0px;
}
#dict-panel-25445 table.root_info th {
  color: var(--primary-text);
  font-weight: 700;
  white-space: normal;
  padding: 0px 5px 2px 0px;
}
#dict-panel-25445 table.root_info b {
  font-weight: 700;
}
#dict-panel-25445 table.root_family td, #dict-panel-25445 table.root_family th {
  text-align: left;
  vertical-align: top;
}
#dict-panel-25445 table.root_family th {
  color: var(--primary-text);
  font-weight: 700;
  white-space: nowrap;
}
#dict-panel-25445 table.root_family b {
  font-weight: 700;
}
#dict-panel-25445 table.root_matrix {
  width: 100%;
}
#dict-panel-25445 table.root_matrix th, #dict-panel-25445 table.root_matrix td {
  border-radius: 5px;
  line-height: 150%;
  vertical-align: top;
  padding: 5px 5px;
  overflow: auto;
}
#dict-panel-25445 table.root_matrix th {
  border: 1px solid var(--primary);
  color: var(--primary-text);
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}
#dict-panel-25445 table.root_matrix td {
  border: 1px solid var(--gray-transparent);
  text-align: left;
}
#dict-panel-25445 table.root_matrix td b {
  color: var(--primary-text);
  font-weight: 700;
  white-space: nowrap;
}
#dict-panel-25445 .inflection-highlight {
  background-color: yellow;
  color: var(--dark);
  border-radius: 3px;
  padding: 0 2px;
}
#dict-panel-25445 /* play button */

a.dpd-button.play {
  padding: 2px 5px;
  /* match standard button padding */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  /* ensure height matches neighbors */
}
#dict-panel-25445 a.dpd-button.play:hover {
  background-color: var(--primary-alt);
  border-color: var(--primary-alt);
}
#dict-panel-25445 a.dpd-button.play:hover svg {
  fill: var(--light);
  stroke: var(--light);
}
#dict-panel-25445 a.dpd-button.play svg {
  width: 1em;
  height: 1em;
  fill: var(--dark);
  stroke: var(--dark);
}
#dict-panel-25445 /* small play button */

a.dpd-button.play.small {
  padding: 0px;
  margin: 0px 2px;
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  background-color: var(--dark);
  border: 1px solid var(--dark);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
#dict-panel-25445 a.dpd-button.play.small svg {
  fill: var(--light);
  stroke: var(--light);
  width: 0.7em;
  height: 0.7em;
}
#dict-panel-25445 a.dpd-button.play.small:hover {
  background-color: var(--primary-alt);
  border-color: var(--primary-alt);
}
#dict-panel-25445 a.dpd-button.play.small:hover svg {
  fill: var(--light);
  stroke: var(--light);
}
#dict-panel-25445 .dark-mode a.dpd-button.play.small {
  background-color: var(--light);
  border: 1px solid var(--light);
}
#dict-panel-25445 .dark-mode a.dpd-button.play.small svg {
  fill: var(--dark);
  stroke: var(--dark);
}
#dict-panel-25445 .dark-mode a.dpd-button.play.small:hover {
  background-color: var(--primary-alt);
  border-color: var(--primary-alt);
}
#dict-panel-25445 .dark-mode a.dpd-button.play.small:hover svg {
  fill: var(--light);
  stroke: var(--light);
}
#dict-panel-25445 /* tooltips */

[data-title] {
  position: relative;
  cursor: pointer;
}
#dict-panel-25445 .summary-link, #dict-panel-25445 .root-summary-link {
  text-decoration: none;
}
#dict-panel-25445 [data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 10px;
  white-space: nowrap;
  z-index: 1000;
  box-shadow: var(--shadow-default);
  pointer-events: none;
}

