body {
    font-family: "Noto Sans", "DejaVu Serif", "Verajja Serif";
}

h3 {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 1px
}

div.deconstructor {
    border: 2px solid #ffd700;
    border-radius: 7px;
    line-height: 150%;
    margin: 0px 0px;
    overflow: auto;
    padding: 3px 7px;
    text-align: left;
}

p.deconstructor {
    line-height: 150%;
    margin: 0px 0px;
    vertical-align: middle;
    text-align: left;
}

a.deconstructor_feedback {
    float: right;
    text-decoration: none;
    margin: 1px;
    vertical-align: top;
}

p.deconstructor_footer {
    border-top: 1px solid #ffd700;
    font-size: 0.8em;
    margin: 5px 0 0 0;
    padding: 5px 0px;
    
}

.link {
    color: #00A4CC;
    font-weight: 700;
}
