@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
}


body {
    font-family: "Inter", "sans-serif";
}

h3 {
    font-size: 130%;
    margin-top: 1px;
    margin-bottom: 1px;
}


div.grammar_dict {
    border: 2px solid #468b7c;
    border-collapse: collapse;
    border-radius: 5px;
    line-height: 150%;
    overflow: auto;
    text-align: left;
}

table.grammar_dict {
    border: 2px solid transparent;
    border-right: 1px #468b7c;
    border-collapse: collapse;
    border-radius: 5px;
    line-height: 150%;
    overflow: auto;
    margin: 0px;
    text-align: center;
    vertical-align: center;
    /* white-space: nowrap; */
}

table.grammar_dict td {
    padding: 2px 5px;
    border: 1px solid #468b7c;
    border-collapse: collapse;
}

table.grammar_dict th {
    cursor: pointer;
}