{% if data.i.example_1 and data.i.example_2 %}
<div id="examples_{{ data.i.lemma_1_ }}" class="dpd content hidden">
    {% elif data.i.example_1 and not data.i.example_2 %}
    <div id="example_{{ data.i.lemma_1_ }}" class="dpd content hidden">
        {% endif %}

        {% if data.i.example_1 %}
        <p>{{ data.i.example_1 }}</p>
        <p class="sutta">
            {{ data.i.source_1 }} {{ data.i.sutta_1 }}</p>
        {% endif %}

        {% if data.i.example_2 %}
        <p>
            {{ data.i.example_2 }}
        </p>
        <p class="sutta">
            {{ data.i.source_2 }} {{ data.i.sutta_2 }}
        </p>
        {% endif %}
        <p class='dpd-footer'>
            Can you think of a better example? <a class="dpd-link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{ data.i.id }}%20{{ data.i.lemma_link }}&entry.326955045=Examples&entry.1433863141=GoldenDict+{{ data.today }}"
                target="_blank">Add it here.</a>
        </p>
    </div>
