<div class="button-box">
    {% if data.buttons.play_button != '' %}
    {{ data.buttons.play_button }}
    {% endif %}
    {% if data.buttons.sutta_info_button != '' %}
    {{ data.buttons.sutta_info_button }}
    {% endif %}
    {% if data.buttons.grammar_button != '' %}
    {{ data.buttons.grammar_button }}
    {% endif %}
    {% if data.buttons.example_button %}
    {{ data.buttons.example_button }}
    {% endif %}
    {% if data.buttons.examples_button %}
    {{ data.buttons.examples_button }}
    {% endif %}
    {% if data.buttons.conjugation_button %}
    {{ data.buttons.conjugation_button }}
    {% endif %}
    {% if data.buttons.declension_button %}
    {{ data.buttons.declension_button }}
    {% endif %}
    {% if data.buttons.root_family_button %}
    {{ data.buttons.root_family_button }}
    {% endif %}
    {% if data.buttons.word_family_button %}
    {{ data.buttons.word_family_button }}
    {% endif %}
    {% if data.buttons.compound_family_button %}
    {{ data.buttons.compound_family_button }}
    {% endif %}
    {% if data.buttons.idioms_button %}
    {{ data.buttons.idioms_button }}
    {% endif %}
    {% if data.buttons.set_family_button %}
    {{ data.buttons.set_family_button }}
    {% endif %}
    {% if data.buttons.frequency_button %}
    {{ data.buttons.frequency_button }}
    {% endif %}
    {{ data.buttons.feedback_button }}
</div>
