{{ d.header }}
<body>
<div class='dpd'>
    <p>root. <b>{{ d.r.root_clean }}</b><sup>{{ d.r.root_has_verb }}</sup>{{ d.r.root_group }} {{ d.r.root_sign }} ({{ d.r.root_meaning }}) {{ d.count }}</p> 
</div>
<div class="button-box">
    <a class="dpd-button" href="#" data-target="root_info_{{ d.r.root_ }}">root info</a>
    <a class="dpd-button" href="#" data-target="root_matrix_{{ d.r.root_ }}">root matrix</a>
    {% for fr in d.frs %}
    <a class="dpd-button" href="#"
        data-target="family_root_{{ d.r.root_ }}_{{ fr.root_family_ }}">{{ fr.root_family }}</a>
    {% endfor %}
</div>
<div id="root_info_{{ d.r.root_ }}" class="dpd content hidden">
    {{ d.r.root_info }}
    <p class="dpd-footer">
        Something out of place? <a class="dpd-link" href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{ d.r.root_link }}&entry.326955045=Root+Info&entry.1433863141=GoldenDict +{{ d.today }}" target="_blank">Report it here</a>.
    </p>
</div>
<div id="root_matrix_{{ d.r.root_ }}" class="dpd content hidden">
    <p>
        {% if d.count <= 1 %}
        <b>{{ d.count }}</b> word is derived from the root 
        {% else %}
        <b>{{ d.count }}</b> words are derived from the root 
        {% endif %}
        <b>{{ d.r.root_clean }}</b><sup>{{ d.r.root_has_verb }}</sup>{{ d.r.root_group }} {{ d.r.root_sign }} ({{ d.r.root_meaning }})
    </p>
    {{ d.r.root_matrix }}
    <p class="dpd-footer">
        Did you spot a mistake? <a class="dpd-link" href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{ d.r.root_link }}&entry.326955045=Root+Matrix&entry.1433863141=GoldenDict+{{ d.today }}" target="_blank">Log it here.</a>
    </p>
</div>
{% for fr in d.frs %}
    <div id="family_root_{{ d.r.root_ }}_{{ fr.root_family_ }}" class="dpd content hidden">
        root family loading...
    </div>
{% endfor %}
</body></html>
