<div class="dpd">
    <p>
        {{ data.i.pos }}. 
        {% if data.i.plus_case %}
        ({{ data.i.plus_case }}) 
        {% endif %}
        {{ data.i.meaning_combo_html }} 
        {% if data.i.construction_summary %}
        [{{ data.i.construction_summary }}] 
        {% endif %}
        {{ data.i.degree_of_completion_html }} 
        {% if data.show_id %}
        <span class="gray">{{ data.i.id }}</span>
        {% endif %}
    </p>
</div>
