{% if data.i.pos in data.declensions %}
<div id="declension_{{ data.i.lemma_1_ }}" class="dpd content hidden">
    {% elif data.i.pos in data.conjugations %}
    <div id="conjugation_{{ data.i.lemma_1_ }}" class="dpd content hidden">
        {% endif %}
        {{ data.i.inflections_html }}
        {% if "gray" in data.i.inflections_html %}
        <p>
            Inflections not found in any Pāḷi corpus, or within
            processed sandhi compounds are <span class='gray'>grayed out</span>.
            They might still occur within compounds.
        </p>
        <p class='dpd-footer'>
            {% else %}
            <p>
                {% endif %}
                {% if data.i.pos in data.declensions %}
                Did you spot a mistake in the declension table? Something
                missing? <a class="dpd-link"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfKUBx-icfRCWmhHqUwzX60BVQE21s_NERNfU2VvbjEfE371A/viewform?usp=pp_url&entry.1370304754={{ data.i.id }}%20{{ data.i.lemma_link }}&entry.1433863141=GoldenDict+{{ data.today }}"
                    target="_blank">Report it here.</a>
                {% elif data.i.pos in data.conjugations %}
                Did you spot a mistake in the conjugation table? Something
                missing? <a class="dpd-link"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdAL2PzavyrtXgGmtNrZAMyh3hV6g3fU0chxhWFxunQEZtH0g/viewform?usp=pp_url&entry.1932605469={{ data.i.id }}%20{{ data.i.lemma_link }}&entry.1433863141=GoldenDict+{{ data.today }}"
                    target="_blank">Report it here.</a>
                {% endif %}
            </p>
        </div>
