<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="dpd.css" rel="stylesheet">
    <link id="js_main" href="main.js" org="main.js">
    <script>
        {
            if (typeof data === 'undefined') { var data = {'init': 1}}
            data["${i.lemma_1_}"] = {
                "id": ${i.id},
                "link": "${i.lemma_1_}",
                "date": "${date}",
                "root": "${i.root_family_key}",
                "compounds": ${i.family_compound_list}            
            };
        
            if (typeof js_init_done === 'undefined' || js_init_done !== 1)  {
                var js_init_done = 1;
                const js_file1 = document.createElement('script');
                js_file1.src = document.getElementById('js_main').getAttribute('href');
                document.getElementsByTagName("head")[0].appendChild(js_file1);
            } 
        }
        </script>
    <title>Digital Pāḷi Dictionary</title>
</head>
