<div class='dpd'>
    <p>root. <b>{{ data.r.root_clean }}</b><sup>{{ data.r.root_has_verb }}</sup>{{ data.r.root_group }} {{ data.r.root_sign }} ({{ data.r.root_meaning }}) {{ data.count }}</p> 
</div>
