<div id="root_matrix_{{ data.r.root_ }}" class="dpd content hidden">
    <p>
        {% if data.count <= 1 %}
        <b>{{ data.count }}</b> word is derived from the root 
        {% else %}
        <b>{{ data.count }}</b> words are derived from the root 
        {% endif %}
        <b>{{ data.r.root_clean }}</b><sup>{{ data.r.root_has_verb }}</sup>{{ data.r.root_group }} {{ data.r.root_sign }} ({{ data.r.root_meaning }})
    </p>
    {{ data.r.root_matrix }}
    <p class="dpd-footer">
        Did you spot a mistake? <a class="dpd-link" href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{ data.r.root_link }}&entry.326955045=Root+Matrix&entry.1433863141=GoldenDict+{{ data.today }}" target="_blank">Log it here.</a>
    </p>
</div>
