% if sbs.needs_sbs_example_button:
<div id="sbs_example_${i.lemma_1_}" class="dpd content hidden">
    % if sbs.needs_sbs_example:
        % if sbs.sbs_example_1:
        <p>${sbs.sbs_example_1}</p>
        <p class="sutta">
            % if make_link and sbs.sbs_source_link_1:
            <a class="sutta_link" href="${sbs.sbs_source_link_1}">${sbs.sbs_source_1}</a>
            % else:
            ${sbs.sbs_source_1}
            % endif
            ${sbs.sbs_sutta_1}</p>
            % if sbs.sbs_chapter_1:
            <p class="sutta">
                ${sbs.sbs_chapter_1} <a class="sutta_link" href="${sbs.sbs_chant_link_1}">${sbs.sbs_chant_pali_1}</a>
                ${sbs.sbs_chant_eng_1}
            % endif
        % endif

        % if sbs.sbs_example_2:
        <p>${sbs.sbs_example_2}</p>
        <p class="sutta">
            % if make_link and sbs.sbs_source_link_2:
            <a class="sutta_link" href="${sbs.sbs_source_link_2}">${sbs.sbs_source_2}</a>
            % else:
            ${sbs.sbs_source_2}
            % endif
            ${sbs.sbs_sutta_2}</p>
            % if sbs.sbs_chapter_2:
            <p class="sutta">
                ${sbs.sbs_chapter_2} <a class="sutta_link" href="${sbs.sbs_chant_link_2}">${sbs.sbs_chant_pali_2}</a>
                ${sbs.sbs_chant_eng_2}
            % endif
        % endif

        % if sbs.sbs_example_3:
        <p>${sbs.sbs_example_3}</p>
        <p class="sutta">
            % if make_link and sbs.sbs_source_link_3:
            <a class="sutta_link" href="${sbs.sbs_source_link_3}">${sbs.sbs_source_3}</a>
            % else:
            ${sbs.sbs_source_3}
            % endif
            ${sbs.sbs_sutta_3}</p>
        % endif

        % if sbs.sbs_example_4:
        <p>${sbs.sbs_example_4}</p>
        <p class="sutta">
            % if make_link and sbs.sbs_source_link_4:
            <a class="sutta_link" href="${sbs.sbs_source_link_4}">${sbs.sbs_source_4}</a>
            % else:
            ${sbs.sbs_source_4}
            % endif
            ${sbs.sbs_sutta_4}</p>
        % endif

    % endif

    % if sbs.needs_dhp_example:
        <b>DHP:</b>
        <p>${sbs.dhp_example}</p>
        <p class="sutta">
            % if make_link and sbs.dhp_source_link:
            <a class="sutta_link" href="${sbs.dhp_source_link}">${sbs.dhp_source}</a>
            % else:
            ${sbs.dhp_source}
            % endif
            ${sbs.dhp_sutta}</p>
    % endif

    % if sbs.needs_pat_example:
        <b>Pātimokkha:</b>
        <p>${sbs.pat_example}</p>
        <p class="sutta">
            % if make_link and sbs.pat_source_link:
            <a class="sutta_link" href="${sbs.pat_source_link}">${sbs.pat_source}</a>
            % else:
            ${sbs.pat_source}
            % endif
            ${sbs.pat_sutta}</p>
    % endif

    % if sbs.needs_vib_example:
        <b>Vibhaṅga:</b>
        <p>${sbs.vib_example}</p>
        <p class="sutta">
            % if make_link and sbs.vib_source_link:
            <a class="sutta_link" href="${sbs.vib_source_link}">${sbs.vib_source}</a>
            % else:
            ${sbs.vib_source}
            % endif
            ${sbs.vib_sutta}</p>
    % endif

    % if sbs.needs_discourses_example:
        <b>Discourses:</b>
        <p>${sbs.discourses_example}</p>
        <p class="sutta">
            % if make_link and sbs.discourses_source_link:
            <a class="sutta_link" href="${sbs.discourses_source_link}">${sbs.discourses_source}</a>
            % else:
            ${sbs.discourses_source}
            % endif
            ${sbs.discourses_sutta}</p>
    % endif

    <p class='footer'>
        Did you spot a mistake in SBS examples? <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLScNC5v2gQbBCM3giXfYIib9zrp-WMzwJuf_iVXEMX2re4BFFw/viewform?usp=pp_url&entry.438735500=${i.lemma_link}&entry.1433863141=SBS" target="_blank">Correct it here.</a>
    </p>

</div>
% endif

