:root {
    --background: rgb(7, 2, 28);
    --foreground: rgb(226, 235, 237);
    --gray: gray;
    --colour1: #00A4CC;
    --colour2: #65DBFF;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    height: 100%;
    font-family: "Dejavu Sans";

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px; 
    height: 30px;
}

.title {
    margin: 10px;
}

.entry-box {
    margin: 10px;
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.main-pane {
    display: flex;
    flex-direction: row;
    height: 93vh;
    margin: 10px;
}

.history-pane {
    border-radius: 7px;
    border: 2px solid var(--gray);
    flex-direction: column;
    flex: 1;
    font-size: 130%;
    margin: 2px;
    padding: 5px 30px;
}


h3 {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 1px;
}

.dpd-pane {
    border-radius: 7px;
    border: 2px solid var(--gray);
    flex: 2;
    padding: 5px 30px;
    overflow-y: auto;
    margin: 2px;
}

.dpd-pane::-webkit-scrollbar {
    width: 10px;
}

.dpd-pane::-webkit-scrollbar-track {
    background-color: var(--background);
}

.dpd-pane::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--gray);
}

.history-pane::-webkit-scrollbar {
    width: 10px;
}

.history-pane::-webkit-scrollbar-track {
    background-color: var(--background);
}

.history-pane::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--gray);
}