<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="en" xml:lang="en">
<head>
  <title>Digital Pāḷi Dictionary</title>
  <link href="../Styles/dpd_kindle.css" type="text/css" rel="stylesheet"/>
</head>

<body>
  <section epub:type="titlepage">

    <h2 class="title-page sigil_not_in_toc">a light version of</h2>

    <h1 class="title-page">Digital Pāḷi Dictionary</h1>

    <h2 class="title-page sigil_not_in_toc">for Kindle</h2>

    <figure class="image-title-page">
        <img alt="This is the logo of the Digital Pāḷi Dictionary" src="../Images/dpdlogo.png" />
    </figure>

    <address class="author"><h2 class="title-page sigil_not_in_toc">Bodhirasa Bhikkhu</h2></address>

    <p class="body-center">updated on <b>${date}</b> at <b>${time}</b></p>
  </section>
</body>
</html>