:root {
  /* Background in light mode, text in dark mode */
  --light: hsl(198, 100%, 95%);
  --light-shade: hsl(198, 100%, 93%);

  /* Background in dark mode, text in light mode */
  --dark: hsl(198, 100%, 5%);
  --dark-shade: hsl(198, 100%, 7%);

  /* Primary colour used for logo, buttons, etc */
  --primary: hsl(198, 100%, 50%);

  /* Primary alternative used for pressed buttons */
  --primary-alt: hsl(205, 100%, 40%);

  /* Primary colour suitable for text in light and dark mode */
  --primary-text: hsl(205, 79%, 48%);

  /* Button shadows */
  --shadow-default: 2px 2px 4px hsla(0, 0%, 20%, 0.4);
  --shadow-hover: 2px 2px 4px hsla(0, 0%, 20%, 0.5);

  /* Various grays */
  --gray: hsl(0, 0%, 50%);
  --gray-light: hsl(0, 0%, 75%);
  --gray-dark: hsl(0, 0%, 25%);
  --gray-transparent: hsla(0, 0%, 50%, 0.25);

  /* Secondary colour just for help and abbreviations */
  --secondary: hsl(158, 100%, 35%);
}

body {
  font-family: "Inter", "sans-serif";
}

h3 {
  font-size: 130%;
  margin-top: 10px;
  margin-bottom: 1px;
}

div.suttas {
  border: 2px solid var(--primary);
  border-radius: 7px;
  line-height: 150%;
  margin: 0px 0px;
  overflow: auto;
  padding: 3px 7px;
  text-align: left;
}

table {
  overflow-x: auto;
}

table.sutta th {
  text-align: left;
  vertical-align: top;
  padding: 5px 0px;
  font-weight: normal;
  color: var(--primary);
}

table.sutta td {
  vertical-align: top;
  overflow-x: auto;
  text-wrap: wrap, auto;
  overflow-wrap: break-word;
}

a {
  color: var(--primary);
}

hr {
  background-color: var(--primary);
  width: 100%;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
  display: block;
}
