<div id="ru_word_family_${i.lemma_1_}" class="content_ru hidden">
<p class="heading underlined_ru">
    <b>${fw.count}</b> слова, которые принадлежат к <b>${i.family_word}</b> семье
</p>
${fw.html_ru}
<p class='footer_ru'>
    Что-то не на месте? <a class="link" href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${i.lemma_link}&entry.326955045=Семья+слова&entry.1433863141=GoldenDict+${today}" target="_blank">Сообщите об этом здесь</a>.
</p>
</div>