<div id="ru_feedback_${i.lemma_1_}" class="content_ru hidden">
    <p>
        ID <b>${i.id}</b>
    </p>
    <p>
        Это образовательный проект и находится на стадии тестирования и редактирования.
        <br>
        Словарь является частичным переводом <a class="link" href="https://digitalpalidictionary.github.io/">DPD</a> - <b>Электронный Словарь Пали (от Дост. Бодхираса).</b>
        <br>
        <b>Помощь.</b> Чтобы увидеть подробное описание пожалуйста кликните на любое заглавие или сокращение.
        
        Список литературы можно увидеть в статье <b>источники</b>.
    </p>
    <p>
        <a class="link" 
        href="https://docs.google.com/forms/d/e/1FAIpQLSfResxEUiRCyFITWPkzoQ2HhHEvUS5fyg68Rl28hFH6vhHlaA/viewform?usp=pp_url&entry.1433863141=GoldenDict+${today}" 
        target="_blank">Добавить отсутствующее слово</a>
        <span>
            . Пожалуйста, используйте эту 
        </span>
        <a class="link" 
        href="https://docs.google.com/forms/d/e/1FAIpQLSfResxEUiRCyFITWPkzoQ2HhHEvUS5fyg68Rl28hFH6vhHlaA/viewform?usp=pp_url&entry.1433863141=GoldenDict+${today}" 
        target="_blank">онлайн-форму</a> для добавления отсутствующих слов, особенно из Винаи, комментариев и других поздних текстов. Если вы предпочитаете работать в автономном режиме, вот 
        <a href="https://github.com/digitalpalidictionary/dpd-db/raw/main/docs/DPD%20Add%20Words.xlsx" download="true" target="_blank">таблица для загрузки</a>
        <span>
            , заполните и отправьте. 
        </span>
    </p>
    <p>
        Заметили ошибку? <a class="link" href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${i.lemma_link}&entry.326955045=Грамматика&entry.1433863141=GoldenDict+${today}" target="_blank">Исправьте здесь</a>.
        <span>
            Ваши предложения и комментарии будут неоценимой помощью в улучшении качества данной работы и будут полезны всем пользователям словаря. 
        </span>
    </p>
    <p>
        <span>Ваша версия словаря от <b>${today}</b>. Пожалуйста, регулярно проверяйте наличие обновлений.</span>
    </p>
    <p>
        <a class="link" href="https://devamitta.github.io/pali/pali_dict.html">Веб страница</a>.
        <span>
            Можно найти свежую версию словаря; узнать больше о функциях, как установить и настроить.
        </span>
    </p>
    <p>
        <a class="link" href="mailto:devamitta@sasanarakkha.org">Помощь проекту</a><span>. Если вы программист или хорошо знаете Пали или как-то хотите поддержать проект, помощь приветствуется!</span>
    </p>
    <p>
        При поддержке <a class="link" href="https://sasanarakkha.org/">Sāsanārakkha Buddhist Sanctuary</a>.
    </p>
</div>
