% if i.pos in declensions:
    <div id="declension_ru_${i.lemma_1_}" class="content_ru hidden">
% elif i.pos in conjugations:
    <div id="conjugation_ru_${i.lemma_1_}" class="content_ru hidden">
% endif
${table}
% if "gray" in table:
<p>
    Формы слов не найденные в версии текстов Chaṭṭha Saṅgāyana или в обработанных сандхи и составных словах, выделены <span class='gray'>серым цветом</span>. Они всё ещё могут встречаться в других местах, в составных словах или в других версиях палийских текстов.
</p>
<p class='footer_ru'>
% else:
<p>
% endif
% if i.pos in declensions:
    Ошибка в таблице склонений? Что-то упущено? <a class="link_ru" href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${i.lemma_link}&entry.326955045=Склонения+или+спряжения&entry.1433863141=GoldenDict+${today}" target="_blank">Пожалуйста сообщите.</a>
% elif i.pos in conjugations:
Ошибка в таблице спряжений? Что-то упущено? <a class="link_ru" href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${i.lemma_link}&entry.326955045=Склонения+или+спряжения&entry.1433863141=GoldenDict+${today}" target="_blank">Пожалуйста сообщите.</a>


% endif
</p>
</div>