% if i.needs_compound_family_button:
    <div id="ru_compound_family_${i.lemma_1_}" class="content_ru hidden">
% elif i.needs_compound_families_button:
    <div id="ru_compound_families_${i.lemma_1_}" class="content_ru hidden">
    <p id="${i.lemma_1_}_cf_top_ru" class="heading">перейти к: 
    % for cf in i.family_compound_list:
        <a class="jump_ru" href="#${i.lemma_1_}_cf_ru_${cf}">${superscripter_uni(cf)} </a>
    % endfor
    </p>
% endif

% for counter, f in enumerate(fc):
    % if counter == 0 and " " not in i.family_compound:
        <p class="heading underlined_ru">
    % else:
        <p id="${i.lemma_1_}_cf_ru_${f.compound_family}" class="heading underlined_ru overlined_ru">
    % endif
    % if f.count == 0:
        <b>ERROR! ${f.count}</b> составное слово содержащее <b>${superscripter_uni(f.compound_family)}</b>: Sort it out!!!
    % elif f.count == 1:
        <b>${f.count}</b> составное слово содержащее <b>${superscripter_uni(f.compound_family)}</b>
    % else:
        <b>${f.count}</b> составных слов(а) содержат <b>${superscripter_uni(f.compound_family)}</b>
        % if " " in i.family_compound:
            <a class="jump_ru" href="#${i.lemma_1_}_cf_top_ru"> ⤴</a>
        % endif
    % endif
    </p>
    ${f.html_ru}
% endfor
<p class='footer_ru'>
    <a class="link" href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${i.lemma_link}&entry.326955045=Семья+составных&entry.1433863141=GoldenDict+${today}" target="_blank">Пожалуйста, сообщите об ошибке</a>.
    % if " " in i.family_compound:
        <a class="jump_ru" href="#${i.lemma_1_}_cf_top_ru"> ⤴</a>
    % endif
</p>
</div>
