<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">

    % if css:
    <style>${css}</style>
    % else:
    <link href="dpd_ru.css" rel="stylesheet">
    % endif

    % if js:
    <script>${js}</script>
    % else:
    <link id="bttn_pre" href="buttons.js" rel="preload">
    <script>
    {
        let s=document.createElement('script');
        s.src=document.getElementById('bttn_pre').getAttribute('href');
        document.head.appendChild(s);
    }
    </script>
    % endif
    <title>Электронный Словарь Пали</title>
</head>
