% for fr in frs:
    <div id="root_family_ru_${r.root_}_${fr.root_family_}" class="root_content_ru hidden">
        ${fr.html_ru.replace("class='family_ru'", "class='root_family_ru'")}
        <p class='footer_ru'>
            Заметили ошибку? <a class="root_link_ru" href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${r.root_link}_${fr.root_family_link}&entry.326955045=Root+Family&entry.1433863141=GoldenDict+${today}" target="_blank">Пожалуйста сообщите</a>.
        </p>
    </div>
% endfor

