<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Pāḷi Dictionary</title>

    <link rel="icon" type="image/png" href="/static/dpd.ico">
    <style>
        {{ home_simple_css|safe }}
        {{ dpd_css|safe }}
    </style>
    <script>
        {{ dpd_js|safe }}
    </script>
</head>


<body>
    <div class="summary-results">
        <h3>Summary</h3>
        {{ summary|safe}}
        <hr>
    </div>
    <div class="dpd-results" id="dpd-results">
        {{ dpd_results|safe }}
    </div>    
</body>

</html>