{% if friendly.example_1 and friendly.example_2 %}
    <p class="example_heading">Examples</p>
{% elif friendly.example_1 and not friendly.example_2 %}
    <p class="example_heading">Example</p>
{% endif %}
{% if friendly.example_1 %}
    <p class="example">{{ friendly.example_1 }}</p>
    <p class="sutta">{{ i.source_1 }} {{ friendly.sutta_1 }}</p>
{% endif %}
{% if friendly.example_2 %}
    <p class="example">{{ friendly.example_2 }}</p>
    <p class="sutta">{{ i.source_2 }} {{ friendly.sutta_2 }}</p>
{% endif %}
