<div class="main">

    <div class="bd-message">
        {{ message|safe }}
    </div>
    <table id="bd-search-results">
        {% for r in results %}
        <tr>
            <th class="bd-th">
                {{ loop.index }}. <b>{{ r.bold|safe }}</b>{{ r.bold_end|safe }}
            </th>
            <td class="bd-td">
                ({{ r.ref_code }}) {{ r.commentary|safe }}
                <br>
                <span class='bd-info'>{{ r.nikaya}} {{ r.book }} {{ r.title }} {{ r.subhead }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>