<!-- summary -->

<h3 id="{{ d.i.lemma_1_ }}">{{d.i.lemma_1}}</h3>
<div class="dpd summary">
    <p>
        {{d.i.pos}}. {% if d.i.plus_case %} ({{d.i.plus_case}}) {% endif %}
        {{d.meaning|safe}} {% if d.summary %} [{{d.summary}}] {% endif %}
        {{d.complete|safe}}
    </p>
</div>

<!-- button box -->

<div class="button-box">
    {% if d.i.needs_audio_button %}
    <a class="button play" href="#" data-headword="{{ d.i.lemma_1 }}" onclick="playAudio('{{ d.i.lemma_1 | replace("'", "\\'") }}'); return false;" title="Play Audio">
        <svg viewBox="0 0 24 24" width="16px" height="16px" fill="currentColor" stroke="currentColor" stroke-width="0">
            <path d="M8 5v14l11-7z"></path>
        </svg>
    </a>
    {% endif %}

    {% if d.i.needs_sutta_info_button %}
    <a class="button" name="sutta-info-button" href="#" data-target="sutta_info_{{d.i.lemma_1_}}">
        sutta</a>

    {% endif %}

    {% if d.i.needs_grammar_button %}
    <a class="button" name="grammar-button" href="#" data-target="grammar_{{d.i.lemma_1_}}">
        grammar</a>
    {% endif %} {% if d.i.needs_example_button %}
    <a class="button" name="example-button" href="#" data-target="example_{{d.i.lemma_1_}}">
        example</a>
    {% endif %} {% if d.i.needs_examples_button %}
    <a class="button" name="example-button" href="#" data-target="examples_{{d.i.lemma_1_}}">
        examples</a>
    {% endif %} {% if d.i.needs_conjugation_button %}
    <a class="button" href="#" data-target="conjugation_{{d.i.lemma_1_}}">
        conjugation</a>
    {% endif %} {% if d.i.needs_declension_button %}
    <a class="button" href="#" data-target="declension_{{d.i.lemma_1_}}">
        declension</a>
    {% endif %} {% if d.i.needs_root_family_button %}
    <a class="button" href="#" data-target="family_root_{{d.i.lemma_1_}}">
        root family</a>
    {% endif %} {% if d.i.needs_word_family_button %}
    <a class="button" href="#" data-target="family_word_{{d.i.lemma_1_}}">
        word family</a>
    {% endif %} {% if d.i.needs_compound_family_button %}
    <a class="button" href="#" data-target="family_compound_{{d.i.lemma_1_}}">
        compound family</a>
    {% endif %} {% if d.i.needs_compound_families_button %}
    <a class="button" href="#" data-target="family_compound_{{d.i.lemma_1_}}">
        compound families</a>
    {% endif %} {% if d.i.needs_idioms_button %}
    <a class="button" href="#" data-target="family_idiom_{{d.i.lemma_1_}}">
        idioms</a>
    {% endif %} {% if d.i.needs_set_button %}
    <a class="button" href="#" data-target="family_set_{{d.i.lemma_1_}}">
        set</a>
    {% endif %} {% if d.i.needs_sets_button %}
    <a class="button" href="#" data-target="family_sets_{{d.i.lemma_1_}}">
        sets</a>
    {% endif %} {% if d.i.needs_frequency_button %}
    <a class="button" href="#" data-target="frequency_{{d.i.lemma_1_}}">
        frequency</a>
    {% endif %}

    <a class="button" href="#" data-target="feedback_{{d.i.lemma_1_}}">
        feedback</a>
</div>

<!-- sutta info -->

{% if d.i.needs_sutta_info_button %}
<div id="sutta_info_{{d.i.lemma_1_}}" name="sutta-info-div" class="dpd content hidden">
    <table class="sutta-info">

        <!-- CST -->

        {% if d.su.cst_code %}
        <tr>
            <th class="heading top" colspan="2">
                Chaṭṭha Saṅgāyana Tipiṭaka (CST)
            </th>
        </tr>
        {% endif %}

        {% if d.su.cst_code %}
        <tr>
            <th>
                CST Code
            </th>
            <td>
                {{ d.su.cst_code }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_nikaya %}
        <tr>
            <th>
                Nikāya
            </th>
            <td>
                {{ d.su.cst_nikaya }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_book %}
        <tr>
            <th>
                Book
            </th>
            <td>
                {{ d.su.cst_book }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_section %}
        <tr>
            <th>
                Section
            </th>
            <td>
                {{ d.su.cst_section }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_vagga %}
        <tr>
            <th>
                Vagga
            </th>
            <td>
                {{ d.su.cst_vagga }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_sutta %}
        <tr>
            <th>
                Sutta
            </th>
            <td>
                {{ d.su.cst_sutta }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_paranum %}
        <tr>
            <th>
                Paragraph
            </th>
            <td>
                {{ d.su.cst_paranum }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_file %}
        <tr>
            <th>
                File
            </th>
            <td>
                {{ d.su.cst_file }}
            </td>

        </tr>
        <tr>
            <th>
                GitHub
            </th>
            <td>
                <a href="https://github.com/VipassanaTech/tipitaka-xml/tree/main/{{ d.su.cst_file }}" target="_blank">{{
                    d.su.cst_file }}</a>

            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_code %}
        <tr>
            <th class="heading" colspan="2">
                Websites using CST
            </th>
        </tr>
        {% endif %}

        {% if d.su.dpr_link %}
        <tr>
            <th>
                Digital Pali Reader
            </th>
            <td>
                <a href="{{ d.su.dpr_link }}" target="_blank">{{ d.su.dpr_link
                    }}</a>
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_code %}
        <tr>
            <th>
                TipitakaPali.org
            </th>
            <td>
                <a href="{{ d.su.tpp_org }}" target="_blank">{{ d.su.tpp_org
                    }}</a>
            </td>
        </tr>
        {% endif %}

        <!-- page numbers -->

        {% if d.su.cst_m_page %}
        <tr>
            <th class="heading" colspan="2">
                CST Page Numbers in Printed Editions
            </th>
        </tr>
        {% endif %}

        {% if d.su.cst_m_page %}
        <tr>
            <th>
                Myanmar
            </th>
            <td>
                {{ d.su.cst_m_page }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_t_page %}
        <tr>
            <th>
                Thai
            </th>
            <td>
                {{ d.su.cst_t_page }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_v_page %}
        <tr>
            <th>
                VRI
            </th>
            <td>
                {{ d.su.cst_v_page }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.cst_p_page %}
        <tr>
            <th>
                PTS
            </th>
            <td>
                {{ d.su.cst_p_page }}
            </td>
        </tr>
        {% endif %}

        <!-- sutta central -->

        {% if d.su.sc_code %}
        <tr>
            <th class="heading" colspan="2">
                Sutta Central
            </th>
        </tr>
        {% endif %}

        {% if d.su.sc_code %}
        <tr>
            <th>
                SC Code
            </th>
            <td>
                {{ d.su.sc_code }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.sc_book %}
        <tr>
            <th>
                Book
            </th>
            <td>
                {{ d.su.sc_book }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.sc_vagga %}
        <tr>
            <th>
                Vagga
            </th>
            <td>
                {{ d.su.sc_vagga }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.sc_sutta %}
        <tr>
            <th>
                Sutta
            </th>
            <td>
                {{ d.su.sc_sutta }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.sc_eng_sutta %}
        <tr>
            <th>
                Title
            </th>
            <td>
                <i>{{ d.su.sc_eng_sutta }}</i>
            </td>
        </tr>
        {% endif %}

        {% if d.su.sc_blurb %}
        <tr>
            <th>
                Blurb
            </th>
            <td>
                <i>{{ d.su.sc_blurb }}</i>
            </td>
        </tr>
        {% endif %}

        {% if d.su.sc_card_link %}
        <tr>
            <th>
                Links
            </th>
            <td>
                {% if d.su.sc_code %}
                <a href="{{ d.su.sc_card_link }}" target="_blank">Sutta
                    Card</a>,
                <a href="{{ d.su.sc_pali_link }}" target="_blank">Pāḷi Text</a>,
                <a href="{{ d.su.sc_eng_link }}" target="_blank">English
                    Translation</a>
                {% endif %}
            </td>
        </tr>
        {% endif %}

        {% if d.su.sc_file_path %}
        <tr>
            <th>
                File
            </th>
            <td>
                {{ d.su.sc_file_path }}
            </td>
        </tr>
        <tr>
            <th>
                GitHub
            </th>
            <td>
                <a href="{{ d.su.sc_github }}" target="_blank">{{
                    d.su.sc_file_path }}</a>
            </td>
        </tr>
        {% endif %}

        <!-- websites -->

        {% if d.su.sc_code %}
        <tr>
            <th class="heading" colspan="2">
                Websites using Sutta Central
            </th>
        </tr>
        {% endif %}

        {% if d.su.tbw %}
        <tr>
            <th>
                The Buddha's Words
            </th>
            <td>
                <a href="{{ d.su.tbw }}" target="_blank">{{ d.su.tbw }}</a>
            </td>
        </tr>
        {% endif %}

        {% if d.su.tbw_legacy %}
        <tr>
            <th>
                TBW Legacy
            </th>
            <td>
                <a href="{{ d.su.tbw_legacy }}" target="_blank">{{
                    d.su.tbw_legacy }}</a>
            </td>
        </tr>
        {% endif %}

        {% if d.su.dhamma_gift %}
        <tr>
            <th>
                Dhamma.gift
            </th>
            <td>
                <a href="{{ d.su.dhamma_gift }}" target="_blank">{{
                    d.su.dhamma_gift }}</a>
            </td>
        </tr>
        {% endif %}

        {% if d.su.sc_express_link %}
        <tr>
            <th>
                SC Express
            </th>
            <td>
                <a href="{{ d.su.sc_express_link }}" target="_blank">{{
                    d.su.sc_express_link }}</a>
            </td>
        </tr>
        {% endif %}

        {% if d.su.sc_voice_link %}
        <tr>
            <th>
                SC Voice
            </th>
            <td>
                <a href="{{ d.su.sc_voice_link }}" target="_blank">{{
                    d.su.sc_voice_link }}</a>
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_sutta_code %}
        <tr>
            <th class="heading" colspan="2">
                Buddha Jayanti Tipiṭaka (BJT)
            </th>
        </tr>
        {% endif %}

        {% if d.su.bjt_sutta_code %}
        <tr>
            <th>
                Sutta Code
            </th>
            <td>
                {{ d.su.bjt_sutta_code }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_piṭaka %}
        <tr>
            <th>
                Piṭaka
            </th>
            <td>
                {{ d.su.bjt_piṭaka }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_nikāya %}
        <tr>
            <th>
                Nikāya
            </th>
            <td>
                {{ d.su.bjt_nikāya }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_major_section %}
        <tr>
            <th>
                Major Section
            </th>
            <td>
                {{ d.su.bjt_major_section }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_book %}
        <tr>
            <th>
                Book
            </th>
            <td>
                {{ d.su.bjt_book }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_minor_section %}
        <tr>
            <th>
                Minor Section
            </th>
            <td>
                {{ d.su.bjt_minor_section }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_vagga %}
        <tr>
            <th>
                Vagga
            </th>
            <td>
                {{ d.su.bjt_vagga }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_sutta %}
        <tr>
            <th>
                Sutta
            </th>
            <td>
                {{ d.su.bjt_sutta }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_book_id %}
        <tr>
            <th>
                Book ID
            </th>
            <td>
                {{ d.su.bjt_book_id }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_page_num %}
        <tr>
            <th>
                Page Number
            </th>
            <td>
                {{ d.su.bjt_page_num }}
            </td>
        </tr>
        {% endif %}

        <!-- {% if d.su.bjt_page_offset %}
        <tr>
            <th>
                Page Offset
            </th>
            <td>
                {{ d.su.bjt_page_offset }}
            </td>
        </tr>
        {% endif %} -->

        {% if d.su.bjt_filename %}
        <tr>
            <th>
                Filename
            </th>
            <td>
                {{ d.su.bjt_filename }}.json
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_github_link %}
        <tr>
            <th>
                Github
            </th>
            <td>
                <a href="{{ d.su.bjt_github_link }}" target="_blank">
                    {{ d.su.bjt_filename}}.json
                </a>
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_web_code %}
        <tr>
            <th class="heading" colspan="2">
                Websites using BJT
            </th>
        </tr>
        {% endif %}

        {% if d.su.bjt_tipitaka_lk_link %}
        <tr>
            <th>
                tipiṭaka.lk (Sinhala)
            </th>
            <td>
                <a href="{{ d.su.bjt_tipitaka_lk_link }}" target="_blank">
                    {{ d.su.bjt_tipitaka_lk_link}}
                </a>
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_open_tipitaka_lk_link %}
        <tr>
            <th>
                open.tipiṭaka.lk (Roman)
            </th>
            <td>
                <a href="{{ d.su.bjt_open_tipitaka_lk_link }}" target="_blank">
                    {{ d.su.bjt_open_tipitaka_lk_link}}
                </a>
            </td>
        </tr>
        {% endif %}

        {% if d.su.bjt_open_tipitaka_lk_link %}
        <tr>
            <th>
                open.tipiṭaka.lk (Devanagari)
            </th>
            <td>
                <a href="{{ d.su.bjt_open_tipitaka_lk_link.replace('latn', 'deva') }}" target="_blank">
                    {{ d.su.bjt_open_tipitaka_lk_link.replace('latn', 'deva') }}
                </a>
            </td>
        </tr>
        {% endif %}

        <!-- <tr>
        <th>
            Access to Insight
        </th>
        <td>
            ...
        </td>
    </tr>

    <tr>
        <th>
            Dhammatalks.org
        </th>
        <td>
            ...
        </td>
    </tr>

    <tr>
        <th>
            Tipitaka.sl
        </th>
        <td>
            ...
        </td>
    </tr> -->

        <!-- DV catalogue -->

        {% if d.su.dv_exists %}
        <tr>
            <th class="heading" colspan="2">
                Dhamma Vinaya Tools: Sutta Catalogue
            </th>
        </tr>
        {% endif %}

        {% if d.su.dv_pts %}
        <tr>
            <th>
                PTS
            </th>
            <td>
                {{ d.su.dv_pts }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_main_theme %}
        <tr>
            <th>
                General Theme
            </th>
            <td>
                {{ d.su.dv_main_theme }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_subtopic %}
        <tr>
            <th>
                Particular Topic
            </th>
            <td>
                {{ d.su.dv_subtopic }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_summary %}
        <tr>
            <th>
                Summary
            </th>
            <td>
                {{ d.su.dv_summary }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_key_excerpt1 %}
        <tr>
            <th>
                Key Excerpts 1
            </th>
            <td>
                {{ d.su.dv_key_excerpt1 }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_key_excerpt2 %}
        <tr>
            <th>
                Key Excerpts 2
            </th>
            <td>
                {{ d.su.dv_key_excerpt2 }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_similes %}
        <tr>
            <th>
                Similes
            </th>
            <td>
                {{ d.su.dv_similes }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_stage %}
        <tr>
            <th>
                Stage of Training
            </th>
            <td>
                {{ d.su.dv_stage }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_training %}
        <tr>
            <th>
                Training In
            </th>
            <td>
                {{ d.su.dv_training }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_aspect %}
        <tr>
            <th>
                Type of Teaching
            </th>
            <td>
                {{ d.su.dv_aspect }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_teacher %}
        <tr>
            <th>
                Teacher
            </th>
            <td>
                {{ d.su.dv_teacher }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_audience %}
        <tr>
            <th>
                Audience
            </th>
            <td>
                {{ d.su.dv_audience }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_method %}
        <tr>
            <th>
                Method of Teaching
            </th>
            <td>
                {{ d.su.dv_method }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_length %}
        <tr>
            <th>
                Sutta Length
            </th>
            <td>
                {{ d.su.dv_length }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_prominence %}
        <tr>
            <th>
                Prominence
            </th>
            <td>
                {{ d.su.dv_prominence }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_suggested_suttas %}
        <tr>
            <th>
                Suggested Reading
            </th>
            <td>
                {{ d.su.dv_suggested_suttas }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_exists %}
        <tr>
            <th>
                GitHub
            </th>
            <td>
                <a href="https://github.com/dhammavinaya-tools/dhamma-vinaya-catalogue" target="_blank">
                    https://github.com/dhammavinaya-tools/dhamma-vinaya-catalogue
                </a>
            </td>
        </tr>
        {% endif %}

        <!-- DV parallel texts -->

        {% if d.su.dv_parallels_exists %}
        <tr>
            <th class="heading" colspan="2">
                Parallels
            </th>
        </tr>
        {% endif %}

        {% if d.su.dv_nikayas_parallels %}
        <tr>
            <th>
                Nikāyas
            </th>
            <td>
                {{ d.su.dv_nikayas_parallels }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_āgamas_parallels %}
        <tr>
            <th>
                Āgamas
            </th>
            <td>
                {{ d.su.dv_āgamas_parallels }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_taisho_parallels %}
        <tr>
            <th>
                Taisho
            </th>
            <td>
                {{ d.su.dv_taisho_parallels }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_sanskrit_parallels %}
        <tr>
            <th>
                Sanskrit
            </th>
            <td>
                {{ d.su.dv_sanskrit_parallels }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_vinaya_parallels %}
        <tr>
            <th>
                Vinaya
            </th>
            <td>
                {{ d.su.dv_vinaya_parallels }}
            </td>
        </tr>
        {% endif %}

        {% if d.su.dv_others_parallels %}
        <tr>
            <th>
                Others
            </th>
            <td>
                {{ d.su.dv_others_parallels }}
            </td>
        </tr>
        {% endif %}

        <!-- {% if d.su.dv_partial_parallels_all %}
        <tr>
            <th>
                Partial Parallels
            </th>
            <td>
                {{ d.su.dv_partial_parallels_all }}
            </td>
        </tr>
        {% endif %} -->

    </table>

    <p class="footer">
        Did you spot a mistake?
        <a class="link"
            href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Sutta&entry.1433863141={{d.app_name}}+{{d.date}}"
            target="_blank">
            Correct it here.
        </a>
    </p>
</div>

{% endif %}

<!-- grammar -->

{% if d.i.needs_grammar_button %}
<div id="grammar_{{d.i.lemma_1_}}" name="grammar-div" class="dpd content hidden">
    <table class="grammar">
        <tr>
            <th>Lemma</th>
            <td>{{d.i.lemma_clean}}</td>
        </tr>

        {% if d.i.lemma_trad_clean != d.i.lemma_clean %}
        <tr>
            <th>Traditional Lemma</th>
            <td>{{d.i.lemma_trad_clean}}</td>
        </tr>
        {% endif %}

        <tr>
            <th>IPA</th>
            <td>/{{d.i.lemma_ipa}}/</td>
        </tr>
        <tr>
            <th>Grammar</th>
            <td>{{d.grammar}}</td>
        </tr>

        {% if d.i.family_root %}
        <tr>
            <th>Root Family</th>
            <td>{{d.i.family_root}}</td>
        </tr>
        {% endif %}
        {% if d.i.root_key %}
        <tr>
            <th>Root</th>
            <td>
                {{d.i.root_clean}}<sup>{{d.i.rt.root_has_verb}}</sup>{{d.i.rt.root_group}}
                {{d.i.root_sign}} ({{d.i.rt.root_meaning}})
            </td>
        </tr>
        {% endif %}
        {% if d.i.rt.root_in_comps %}
        <tr>
            <th>√ In Sandhi</th>
            <td>{{d.i.rt.root_in_comps}}</td>
        </tr>
        {% endif %}
        {% if d.i.root_base %}
        <tr>
            <th>Base</th>
            <td>{{d.i.root_base}}</td>
        </tr>
        {% endif %} {% if d.i.construction %}
        <tr>
            <th>Construction</th>
            <td>{{d.i.construction|safe}}</td>
        </tr>
        {% endif %}
        {% if d.i.derivative %}
        <tr>
            <th>Derivative</th>
            <td>{{d.i.derivative}} ({{d.i.suffix}})</td>
        </tr>
        {% endif %}
        {% if d.i.phonetic %}
        <tr>
            <th>Phonetic Change</th>
            <td>{{d.i.phonetic|safe}}</td>
        </tr>
        {% endif %}
        {% if d.i.compound_type and "?" not in d.i.compound_type %}
        <tr>
            <th>Compound</th>
            <td>{{d.i.compound_type}}
                ({{d.i.compound_construction|safe}})</td>
        </tr>
        {% endif %} {% if d.i.antonym %}
        <tr>
            <th>Antonym</th>
            <td>{{d.i.antonym}}</td>
        </tr>
        {% endif %}
        {% if d.i.synonym %}
        <tr>
            <th>Synonym</th>
            <td>{{d.i.synonym}}</td>
        </tr>
        {% endif %} {% if d.i.variant %}
        <tr>
            <th>Variant</th>
            <td>{{d.i.variant}}</td>
        </tr>
        {% endif %}
        {% if d.i.commentary and d.i.commentary !="-" %}
        <tr>
            <th>Commentary</th>
            <td>{{d.i.commentary|safe}}</td>
        </tr>
        {% endif %}
        {% if d.i.notes %}
        <tr>
            <th>Notes</th>
            <td>{{d.i.notes|safe}}</td>
        </tr>
        {% endif %}
        {% if d.i.cognate %}
        <tr>
            <th>English Cognate</th>
            <td>{{d.i.cognate}}</td>
        </tr>
        {% endif %} {% if d.i.link %}
        <tr>
            <th>Web Link</th>
            <td>
                {% for website in d.i.link_list %}
                <p>
                    <a href="{{ website }}" target="_blank"> {{ website }}
                    </a>
                </p>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if d.i.non_ia %}
        <tr>
            <th>Non IA</th>
            <td>{{d.i.non_ia}}</td>
        </tr>
        {% endif %}
        {% if d.i.sanskrit %}
        <tr>
            <th>Sanskrit</th>
            <td>
                <i> {{d.i.sanskrit}} </i>
            </td>
        </tr>
        {% endif %}
        {% if d.i.rt.sanskrit_root %}
        <tr>
            <th>Sanskrit Root</th>
            <td>
                <i>
                    {{d.i.rt.sanskrit_root}} {{d.i.rt.sanskrit_root_class}}
                    ({{d.i.rt.sanskrit_root_meaning}})
                </i>
            </td>
        </tr>
        {% endif %}
    </table>
    <p class="footer">
        Did you spot a mistake?
        <a class="link"
            href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Grammar&entry.1433863141={{d.app_name}}+{{d.date}}"
            target="_blank">
            Correct it here.</a>
    </p>
</div>
{% endif %}

<!-- examples -->

{% if d.i.needs_example_button %}
<div id="example_{{d.i.lemma_1_}}" name="example-div" class="dpd content hidden">
    {% elif d.i.needs_examples_button %}
    <div id="examples_{{d.i.lemma_1_}}" name="example-div" class="dpd content hidden">
        {% endif %}

        {% if d.i.example_1 and d.i.meaning_1 %}
        <p>
            {{d.i.example_1|safe}}
        </p>
        <p class="sutta">
            {{d.i.source_1}} {{d.i.sutta_1|safe}}
        </p>

        {% if d.i.example_2 and d.i.meaning_1 %}
        <p>
            {{d.i.example_2|safe}}
        </p>
        <p class="sutta">
            {{d.i.source_2}} {{d.i.sutta_2|safe}}
        </p>
        {% endif %}

        <p class="footer">
            Can you think of a better example?
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Examples&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                Add it here.</a>
        </p>
    </div>
    {% endif %}

    <!-- declension -->

    {% if d.i.needs_declension_button %}
    <div id="declension_{{d.i.lemma_1_}}" class="dpd content hidden">
        {{d.i.inflections_html|safe}} {% if "gray" in d.i.inflections_html
        %}
        <p>
            Inflections not found in any Pāḷi corpus, or within
            processed
            sandhi compounds are <span class="gray">grayed out</span>. They
            might still occur within compounds.
        </p>
        <p class="footer">{% else %}</p>

        <p>
            {% endif %} Did you spot a mistake in the declension table?
            Something
            missing?
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfKUBx-icfRCWmhHqUwzX60BVQE21s_NERNfU2VvbjEfE371A/viewform?usp=pp_url&entry.1370304754={{ d.i.id }}%20{{ d.i.lemma_link }}&entry.1433863141={{ d.app_name }}+{{ d.date }}"
                target="_blank">
                Report it here.</a>
        </p>
    </div>
    {% endif %}

    <!-- conjugation -->

    {% if d.i.needs_conjugation_button %}
    <div id="conjugation_{{d.i.lemma_1_}}" class="dpd content hidden">
        {{d.i.inflections_html|safe}} {% if "gray" in d.i.inflections_html
        %}
        <p>
            Inflections not found in any Pāḷi corpus, or within
            processed
            sandhi compounds are <span class="gray">grayed out</span>. They
            might still occur within compounds.
        </p>
        <p class="footer">{% else %}</p>

        <p>
            {% endif %} Did you spot a mistake in the conjugation table?
            Something
            missing?
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSdAL2PzavyrtXgGmtNrZAMyh3hV6g3fU0chxhWFxunQEZtH0g/viewform?usp=pp_url&entry.1932605469={{ d.i.id }}%20{{ d.i.lemma_link }}&entry.1433863141={{ d.app_name }}+{{ d.date }}"
                target="_blank">
                Report it here.</a>
        </p>
    </div>
    {% endif %}

    <!-- root family -->

    {% if d.i.needs_root_family_button %}
    <div id="family_root_{{d.i.lemma_1_}}" class="dpd content hidden">
        {{d.i.fr.html|safe}}
        <p class="footer">
            Something out of place?
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Root+Family&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                Report it here</a>.
        </p>
    </div>
    {% endif %}

    <!-- word family -->

    {% if d.i.needs_word_family_button %}
    <div id="family_word_{{d.i.lemma_1_}}" class="dpd content hidden">
        <p class="heading underlined">
            <b>{{d.i.fw.count}}</b>
            words which belong to the
            <b>{{d.i.family_word}}</b>
            family
        </p>
        {{d.i.fw.html|safe}}
        <p class="footer">
            Something out of place?
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Word+Family&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                Report it here</a>.
        </p>
    </div>
    {% endif %}

    <!-- compound family -->

    {% if d.i.needs_compound_family_button %}
    <div id="family_compound_{{d.i.lemma_1_}}" class="dpd content hidden">
        <p class="heading underlined">
            <b> {{d.fc[0].count}} </b>
            compounds which contains
            <b> {{d.fc[0].compound_family}} </b>
            {{d.fc[0].html|safe}}
        </p>
        <p class="footer">
            Spot a mistake?
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Compound+Family&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                Fix it here</a>.
        </p>
    </div>
    {% endif %}

    <!-- compound families -->

    {% if d.i.needs_compound_families_button %}
    <div id="family_compound_{{d.i.lemma_1_}}" class="dpd content hidden">
        <p id="{{d.i.lemma_1_}}cf_top" class="heading">
            jump to: {% for f in d.fc%}
            <a class="jump" href="#{{d.i.lemma_1_}}cf_{{f.compound_family}}">
                {% if not loop.last %} {{f.compound_family}}, {% else%}
                {{f.compound_family}} {% endif %}
            </a>
            {% endfor %}
        </p>

        {% for f in d.fc %} {% if loop.index == 0 %}
        <p class="heading underlined overlined">{% else %}</p>

        <p id="{{d.i.lemma_1_}}cf_{{f.compound_family}}" class="heading underlined overlined">
            {% endif %} {% if f.count == 1 %}
            <b>{{f.count}}</b>
            compound which contains
            <b>{{f.compound_family}}</b>
            {% else %}
            <b>{{f.count}}</b>
            compounds which contain
            <b>{{f.compound_family}}</b>
            <a class="jump" href="#{{d.i.lemma_1_}}cf_top"> ⤴ </a>
            {% endif %}
        </p>
        {{f.html|safe}} {% endfor %}
        <p class="underline overlined">
            Back to the top
            <a class="jump" href="#{{d.i.lemma_1_}}cf_top">⤴</a>
        </p>
        <p class="footer">
            Spot a mistake?
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Compound+Family&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                Fix it here</a>.
        </p>
    </div>
    {% endif %}

    <!-- idioms -->

    {% if d.i.needs_idioms_button %}
    <div id="family_idiom_{{d.i.lemma_1_}}" class="dpd content hidden">
        {% for f in d.fi %} {% if loop.index == 1 %}
        <p class="heading underlined">{% else %}</p>

        <p class="heading underlined overlined">
            {% endif %} {% if f.count == 1 %}
            <b>{{f.count}}</b>
            idiomatic expression which contains
            <b>{{f.idiom}}</b>
            {% else %}
            <b>{{f.count}}</b>
            idiomatic expressions which contain
            <b>{{f.idiom}}</b>
            {% endif %}
        </p>
        {{f.html|safe}} {% endfor %}
        <p class="footer">
            Please add more idioms
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Idioms&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                here</a>.
        </p>
    </div>
    {% endif %}

    <!-- set -->

    {% if d.i.needs_set_button %}
    <div id="family_set_{{d.i.lemma_1_}}" class="dpd content hidden">
        {% for f in d.fs %}
        <p class="heading underlined">
            <b>{{d.i.lemma_clean}}</b>
            belongs to the set of
            <b>{{f.set}}</b>
        </p>
        {{f.html|safe}} {% endfor %}
        <p class="footer">
            Spot a mistake?
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Set&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                Fix it here</a>.
        </p>
    </div>
    {% endif %}

    <!-- sets -->

    {% if d.i.needs_sets_button %}
    <div id="family_sets_{{d.i.lemma_1_}}" class="dpd content hidden">
        <p id="{{d.i.lemma_1_}}sets_top" class="heading">
            jump to: {% for set in d.i.family_set_list %}
            <a class="jump" href="#{{d.i.lemma_1_}}sets_{{set}}">
                {% if not loop.last %} {{set|safe}}, {% else%} {{set|safe}}
                {%
                endif %}
            </a>
            {% endfor %}
        </p>

        {% for f in d.fs %} {% if loop.index0 == 0 %}
        <p class="heading underlined overlined">{% else %}</p>

        <p id="{{d.i.lemma_1_}}sets_{{f.set}}" class="heading underlined overlined">
            {% endif %}
            <b>{{d.i.lemma_clean}}</b>
            belongs to the set of
            <b>{{f.set}}</b>
            {% if loop.index0 > 0 %}
            <a class="jump" href="#{{d.i.lemma_1_}}sets_top"> ⤴</a>
            {% endif %}
        </p>
        {{f.html|safe}} {% endfor %}
        <p class="underline overlined">
            Back to the top
            <a class="jump" href="#{{d.i.lemma_1_}}sets_top">⤴</a>
        </p>
        <p class="footer">
            Spot a mistake?
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Set&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                Fix it here</a>.
        </p>
    </div>
    {% endif %} {% if d.i.needs_sets_button %}
    <div id="sets_{{d.i.lemma_1_}}" class="dpd content hidden">
        {% for f in d.fs %} {% if loop.index0 == 0 %}
        <p class="heading underlined">{% else %}</p>

        <p class="heading underlined overlined">
            {% endif %}
            <b>{{d.i.lemma_clean}}</b>
            belongs to the set of
            <b>{{f.set}}</b>
        </p>
        {{f.html|safe}} {% endfor %}
    </div>
    {% endif %}

    <!-- frequency -->

    {% if d.i.needs_frequency_button %}
    <div id="frequency_{{d.i.lemma_1_}}" class="dpd content hidden">
        {% if not d.i.freq_html %}
        <p class="heading underlined">
            There are no matches of <b>{{d.i.lemma_1}}</b> in any texts.
        </p>
        <p>It probably only occurs in compounds. Or perhaps there is an
            error.</p>

        {% else %}
        <p class="heading underlined">
            {% if d.i.needs_declension_button %} Frequency of
            <b>{{d.i.lemma_1}}</b> and its declensions {% elif
            d.i.needs_conjugation_button %} Frequency of
            <b>{{d.i.lemma_1}}</b>
            and
            its conjugations {% else %} Frequency of <b>{{d.i.lemma_1}}</b>
            {%
            endif
            %} {{d.i.freq_html|safe}} {% endif %}
        </p>

        <p>
            For a detailed explanation of how this word frequency chart is
            calculated,
            it's accuracies and inaccuracies, please refer to
            <a class="link" href="https://digitalpalidictionary.github.io/features/frequency/" target="_blank">
                this webpage </a>.
        </p>
        <p class="footer">
            If something looks out of place,
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.326955045=Frequency&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                log it here.
            </a>
        </p>
    </div>
    {% endif %}

    <!-- feedback -->

    <div id="feedback_{{d.i.lemma_1_}}" class="dpd content hidden">
        <p>ID <b>{{d.i.id}}</b></p>
        <p>
            Digital Pāḷi Dictionary is a work in progress, made available
            for
            testing
            and feedback purposes.
        </p>
        <p>
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfResxEUiRCyFITWPkzoQ2HhHEvUS5fyg68Rl28hFH6vhHlaA/viewform?usp=pp_url&amp;entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">Add a missing word</a><span>. Please use
                this
            </span>
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfResxEUiRCyFITWPkzoQ2HhHEvUS5fyg68Rl28hFH6vhHlaA/viewform?usp=pp_url&amp;entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                online form</a>
            to add missing words, especially from Vinaya, commentaries, and
            other
            later texts. If you prefer to work offline, here is a
            <a class="link" download="true"
                href="https://github.com/digitalpalidictionary/dpd-db/raw/main/misc/DPD%20Add%20Words.xlsx"
                target="_blank">
                spreadsheet to download</a><span>, fill in and submit.
            </span>
        </p>
        <p>
            <a class="link"
                href="https://docs.google.com/forms/d/e/1FAIpQLSf9boBe7k5tCwq7LdWgBHHGIPVc4ROO5yjVDo1X5LDAxkmGWQ/viewform?usp=pp_url&entry.438735500={{d.i.id}}%20{{d.i.lemma_link}}&entry.1433863141={{d.app_name}}+{{d.date}}"
                target="_blank">
                Correct a mistake
            </a>
            <span>
                . Did you spot a mistake in the dictionary? Have something
                to
                add?
                Please report it. It generally takes less than a minute and
                your
                corrections and suggestions help to improve the quality of
                this
                dictionary for everyone who uses it.
            </span>
        </p>
        <p>
            <a class="link" href="https://digitalpalidictionary.github.io/" target="_blank">
                Read the docs
            </a>
            <span>
                . Get more detailed information about installation on your
                devices,
                upgrades, advanced settings and features.
            </span>
        </p>
        <p>
            <a class="link"
                href="mailto:digitalpalidictionary@gmail.com?subject=I%20want%20to%20help!&body=Please%20let%20me%20know%20how%20I%20can%20get%20involved%20with%20the%20development%20of%20DPD.">
                Get involved
            </a>
            <span>
                . If you're a Pāḷi specialist or a coder, or would like to
                contribute to
                the project in any way, please get in touch.
            </span>
        </p>
        <p>
            <a class="link"
                href="mailto:digitalpalidictionary@gmail.com?subject=Keep%20me%20updated!&body=Please%20let%20me%20know%20about%20new%20features%20and%20updates%20as%20soon%20as%20they%20are%20available.">
                Join the mailing list
            </a>
            <span>
                . Get notified of updates and new features as soon as they
                become
                available.
            </span>
        </p>
    </div>

    <!-- fin -->
</div>