<h3 class="dpd" id="variants: {{ d.headword|safe }}">variants: {{ d.headword|safe }}</h3>
<div class="dpd">
    <table class="variants">
        <tr>
            <th>source</th>
            <th>filename</th>
            <th>context</th>
            <th>variant</th>
        </tr>

        {% set old_corpus = None %}
        {% for corpus, data2 in d.variants.items() %}

        {% if old_corpus != corpus %}
        <tr>
            <td colspan="4">
                <hr class="dpd">
            </td>
        </tr>
        {% endif %}

        {% for book, data3 in data2.items() %}
        {% for data4 in data3 %}
        <tr>
            <td>{{ corpus }}</td>
            <td>{{ book }}</td>
            <td>{{ data4[0] }}</td>
            <td>{{ data4[1] }}</td>
        </tr>
        {% endfor %}
        {% endfor %}

        {% set old_corpus = corpus %}
        {% endfor %}
    </table>
    <p class="dpd-footer">
        For details on how to use this, please <a class="dpd-link" href='https://digitalpalidictionary.github.io/features/variants/' target='_blank'>read the docs</a>.
    </p>
</div>